@using System.Net.Http.Json
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 500px; overflow-y: scroll">
<MudForm Model="@AddEditModel" @ref="form">
    <MudDialog>
        <TitleContent>

            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                Добавить
            </MudText>

        </TitleContent>
        <DialogContent>
            <MudGrid>


                @{
                    if (Aresults != null)
                    {
                        foreach (var item in Aresults)
                        {
                            <MudItem xs="4" md="4">
                                <MudSelect T="Analysis" Label="Анализ" @bind-Value="@item.Analysis" SelectedValuesChanged="(async()=> await LoadAnalysisExtAsync(item.Id))" AnchorOrigin="Origin.BottomCenter">
                                    @{
                                        @foreach (var anItem in AnalysisList)
                                        {
                                            <MudSelectItem T="Analysis" Value="@anItem">@anItem.Title</MudSelectItem>
                                        }
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="2" md="2">
                                <MudTextField @bind-Value="item.Result" Label="Результат" />
                            </MudItem>
                            <MudItem xs="2" md="2">
                                <MudText>
                                <p>&nbsp;</p>
                                    <b> @item.Note</b>
                                </MudText>
                            </MudItem>
                            <MudItem xs="3" md="3">
                                <MudDatePicker Label="Дата анализа" @bind-Date="@item.AnalysisDate" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
                            </MudItem>
                            <MudItem xs="1" md="1">
                                <p>&nbsp;</p>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="@(async() => await RemoveResulRowAsync(item.Id))" aria-label="Удалить" Size="Size.Small" Color="Color.Error"></MudIconButton>
                            </MudItem>
                        }
                    }
                }


                <MudItem xs="12" md="12">
                    <MudButton Variant="Variant.Filled"
                               StartIcon="@Icons.Material.Filled.Attachment"
                               @onclick="@(async() => await AddNewResulRowAsync())"
                               Size="Size.Small"
                               Color="Color.Info">
                        Добавить новый анализ 
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="12">
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Отмена</MudButton>
            <MudButton Variant="Variant.Filled" @onclick="@(async() => await SaveAsync())" Color="Color.Success">Сохранить</MudButton>

        </DialogActions>
    </MudDialog>
</MudForm>
</MudContainer>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public long MedCardId { get; set; }

    public AnalysisAddArgs AddEditModel { get; set; } = new AnalysisAddArgs();
    MudForm form;

    private IEnumerable<Analysis> AnalysisList = new List<Analysis>();

    private List<DynamicAnalysis> Aresults = new List<DynamicAnalysis>();

    private long patientId { get; set; }
    private string Inn { get; set; }
    public Patient PatientModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (MedCardId > 0)
        {
            await LoadPatientAsync();
            await LoadAnalysisesAsync();
        }

        //await AddNewResulRowAsync();
    }

    private async Task LoadPatientAsync()
    {
        var response = await Http.GetAsync("api/patient/getbymedcard?medcardId=" + MedCardId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }

        var mappedData = await response.ToResult<Patient>();
        PatientModel = mappedData.Data;
        //AddEditModel.Inn = PatientModel.Inn;
        //patientId = PatientModel
    }

    public async Task LoadAnalysisesAsync()
    {
        var response = await Http.GetAsync("api/status/allanalysis");
        var mappedData = await response.ToResult<List<Analysis>>();
        AnalysisList = mappedData.Data;
    }

    public async Task AddNewResulRowAsync()
    {
        var anResult = new DynamicAnalysis();
        if (Aresults.Count > 0)
        {
            long maxId = Aresults.Max(t => t.Id);

            if (maxId != null)
            {
                anResult.Id = maxId + 1;

            }
            else
            {
                anResult.Id = 1;
            }

            anResult.AnalysisDate = DateTime.Today;
        }
        Aresults.Add(anResult);
    }

    public async Task RemoveResulRowAsync(long Id)
    {
        var remove = Aresults.Where(p => p.Id.Equals(Id)).FirstOrDefault();
        Aresults.Remove(remove);
    }

    public async Task LoadAnalysisExtAsync(long Id)
    {
        foreach (var aitem in Aresults)
        {
            if (aitem.Id == Id)
            {
                aitem.Note = aitem.Analysis.AnalysisExt;
            }
        }
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task SaveAsync()
    {
        var postModel = new AnalysisAddArgs();
        var postModelResults = new List<AnalysisResult>();
        postModel.Inn = PatientModel.Inn;
        foreach (var aitem in Aresults)
        {
            if (aitem != null)
            {
                var resultItem = new AnalysisResult();
                resultItem.Inn = PatientModel.Inn;
                resultItem.MedCardId = MedCardId;
                resultItem.PatientId = PatientModel.Id;
                resultItem.AnalysisId = aitem.Analysis.Id;
                //resultItem.AnalysisResultGroupId = 0;
                resultItem.AnalysisName = aitem.Analysis.Title;
                resultItem.Result = aitem.Result;
                resultItem.Status = "1";
                resultItem.Note = aitem.Note;
                resultItem.AnalysisDate = aitem.AnalysisDate;
                postModelResults.Add(resultItem);
            }
        }
        postModel.AnalysisResults = postModelResults;
        var response = await _httpClient.PostAsJsonAsync("api/medcard/addanalyses", postModel);
        var result = await response.ToResult();
        if (!result.Succeeded)
        {
            _snackBar.Add(result.Messages[0], Severity.Error);
            MudDialog.Close(DialogResult.Ok(false));
        }
        else
        {
            _snackBar.Add("Успешно", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
}
