@using System.Net.Http.Json
@inject IJSRuntime js
@inject HttpClient Http
<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 900px;overflow-y: scroll">
    <MudItem xs="12" md="4">
        <MudButton Variant="Variant.Filled"
        @onclick="@(async() => await DownloadPdfAsync() )" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Печать
        </MudButton>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudButton Variant="Variant.Filled"
        @onclick="@(async() => await DownloadWordAsync() )" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Скачать word
        </MudButton>
    </MudItem>
    <div id="dvPrint">
        <div>
            <p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 12.75pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: 13.5pt;">
                <strong><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">СВОДНЫЙ СЧЕТ-РЕЕСТР</span></strong>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 16.6pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: normal; font-size: 13pt;">
                <strong><span style="font-family: 'Times New Roman';">по оказанным услугам диализа в рамках бюджетного программного диализа</span></strong>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 3.95pt; margin-bottom: 12pt; line-height: normal; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">
                    по @RegObl.OblTitle </span ></p >
                    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">&nbsp;</span><span style="font-family: 'Times New Roman';">Период: с @dateFrom.ToString("dd.MM.yyy")</span>
                <span style="width: 8.55pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">года по @dateTo.ToString("dd.MM.yyy")</span>
                <span style="width: 7.98pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">год</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Стоимость базового тарифа  @RegObl.ActivePrice </span></p>
            <table style="margin-top: 0pt;margin-bottom: 8pt;margin-left: 4pt; margin-bottom: 0pt; border: 0.75pt solid #000000; border-collapse: collapse;">
                <tbody>
                    <tr style="height: 58.9pt;">
                        <td style="width: 40.25pt; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
                                <span style="font-family: 'Times New Roman';">№</span><span style="font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 'Times New Roman';">п/п</span>
                            </p>
                        </td>
                        <td style="width: 127.95pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Наименование организации здраоохранения</span></p>
                        </td>
                        <td style="width: 84.1pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Кол-во сеансов</span></p>
                        </td>
                        <td style="width: 84.1pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Кол-во пациентов</span></p>
                        </td>
                        <td style="width: 84.15pt; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Предъявлено к оплате, сом</span></p>
                        </td>
                    </tr>
                    @foreach (RegMedCenterOblDto element in RegObl.RegMedCenterOblDtos)
                    {
                        <tr style="height: 29.65pt;">
                            <td style="width: 40.25pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@element.OrderNo</span></p>
                            </td>
                            <td style="width: 127.95pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@element.MedCenterTitle</span></p>
                            </td>
                            <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@element.SessionCount</span></p>
                            </td>
                            <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@element.PatientCount</span></p>
                            </td>
                            <td style="width: 84.15pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@element.TotalPrice</span></p>
                            </td>
                        </tr>
                    }
                    
                    <tr style="height: 29.65pt;">
                        <td style="width: 40.25pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                        </td>
                        <td style="width: 127.95pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">ИТОГО</span></p>
                        </td>
                        <td style="width: 84.1pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@sesCount</span></p>
                        </td>
                        <td style="width: 84.1pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@patCount</span></p>
                        </td>
                        <td style="width: 84.15pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                            <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">@itog</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Итого к оплате  @itog сомов</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Директор ТУ ФОМС:&nbsp;</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Начальник отдела экономического анализа и отчетности</span><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp;&nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Начальник отдела экспертизы</span><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp;&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">качества&nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;"><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Зав.сектором ИО&nbsp;</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
        </div>
    </div>
</MudContainer>
 @code {
    [Parameter]
    public string url { get; set; }
    [Parameter]
    public DateTime dateFrom { get; set; }
    [Parameter]
    public DateTime dateTo { get; set; }
    [Parameter]
    public RegOblDto RegObl { get; set; }
    [Parameter]
    public decimal itog { get; set; }
    [Parameter]
    public int patCount { get; set; }
    [Parameter]
    public int sesCount { get; set; }
    private int num = 1;

    protected override async Task OnInitializedAsync()
    {
        num = 1;
    }
    private async Task DownloadWordAsync()
    {
        num = 1;
        await js.InvokeVoidAsync("printDivWord", "chek");
        num = 1;
    }
    private async Task DownloadPdfAsync()
    {
        num = 1;
        await js.InvokeVoidAsync("printDiv");
    }
    /**/
}
