@using System.Net.Http.Json
@inject IJSRuntime js
@inject HttpClient Http
<MudContainer MaxWidth="MaxWidth.Large" Style="height: 700px;overflow-y: scroll">
    <MudItem xs="12" md="4">
        <MudButton Variant="Variant.Filled"
        @onclick="@(async() => await DownloadPdfAsync() )" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Печать
        </MudButton>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudButton Variant="Variant.Filled"
        @onclick="@(async() => await DownloadWordAsync() )" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Скачать word
        </MudButton>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.FileDownload" @onclick="@(async() => await DownloadFileAsync())">Скачать</MudButton>
    </MudItem>
    <div id="dvPrint" >
        <div >
            <p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 12.75pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: 13.5pt;">
                <strong>
                    <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">СЧЕТ-РЕЕСТР</span></strong>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 16.6pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: normal; font-size: 13pt;">
                <a id="bookmark23">
                    <strong><span style="font-family: 'Times New Roman';">Организации здравоохранения за оказанные услуги диализа в рамках&nbsp;</span></strong>
                </a>
                <strong><span style="font-family: 'Times New Roman';">бюджетного программного диализа</span></strong>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 3.95pt; margin-bottom: 12pt; line-height: normal; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">Наименование организации здравоохранения:  @medcenter</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">&nbsp;</span><span style="font-family: 'Times New Roman';">Период: с @dateFrom.ToString("dd.MM.yyy")</span>
                <span style="width: 8.55pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">года по @dateTo.ToString("dd.MM.yyy")</span>
                <span style="width: 7.98pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">год</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">Стоимость базового тарифа  @BigElements.ActivePrice</span>
            </p>
                <table style="margin-top: 0pt;margin-bottom: 8pt;width: 467pt; margin-right: auto; margin-left: auto; margin-bottom: 0pt; border: 0.75pt solid #000000; border-collapse: collapse;">
                    <tbody>
                        <tr style="height: 38.3pt;">
                            <td style="width: 35.2pt; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;">
                                <p style="margin: 0pt 0pt 8pt;margin-right: 13pt; margin-bottom: 0pt; text-align: right; line-height: 16pt;">
                                    <strong><span style="font-family: 'Times New Roman'; font-size: 12pt;">№ п/п</span></strong>
                                </p>
                            </td>
                            <td style="
                        width: 186.5pt;
                        border-right: 0.75pt solid #000000;
                        border-left: 0.75pt solid #000000;
                        border-bottom: 0.75pt solid #000000;
                        padding-right: 0.12pt;
                        padding-left: 0.12pt;
                        vertical-align: top;
                        background-color: #ffffff;
                    ">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: 16.4pt;">
                                    <strong><span style="font-family: 'Times New Roman'; font-size: 12pt;">Индивидуальный идентификационный номер пациента</span></strong>
                                </p>
                            </td>
                            <td style="
                        width: 121.05pt;
                        border-right: 0.75pt solid #000000;
                        border-left: 0.75pt solid #000000;
                        border-bottom: 0.75pt solid #000000;
                        padding-right: 0.12pt;
                        padding-left: 0.12pt;
                        vertical-align: top;
                        background-color: #ffffff;
                    ">
                                <p style="margin: 0pt 0pt 8pt;margin-right: 28pt; margin-bottom: 0pt; line-height: 16.4pt;">
                                    <strong><span style="font-family: 'Times New Roman'; font-size: 12pt;">Итого</span></strong>
                                </p>
                            </td>
                            <td style="width: 119.5pt; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: 16.4pt;">
                                    <strong><span style="font-family: 'Times New Roman'; font-size: 12pt;">Предъявлено к оплате, сом</span></strong>
                                </p>
                            </td>
                        </tr>
                    @foreach (AccountRegistryDto element in BigElements.AccountRegistries)
                        {
                            <tr style="height: 13.8pt;">
                                    <td style="
                                width: 35.2pt;
                                border-top: 0.75pt solid #000000;
                                border-right: 0.75pt solid #000000;
                                border-bottom: 0.75pt solid #000000;
                                padding-right: 0.12pt;
                                padding-left: 0.12pt;
                                vertical-align: top;
                                background-color: #ffffff;
                            ">
                                <p style="margin: 0pt 0pt 8pt;margin-right: 13pt; margin-bottom: 0pt; text-align: right; line-height: normal; font-size: 12pt;"><span style="font-family: 'Times New Roman';">@(num++)</span></p>
                                    </td>
                                <td style="width: 186.5pt; border: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;padding: 10px 2px 2px 10px;">
                                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Arial Unicode MS';">@element.Fio  @element.Inn</span></p>
                                    </td>
                                    <td style="width: 121.05pt; border: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;padding: 10px 2px 2px 10px;">
                                        <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Arial Unicode MS';">@element.CountHd</span></p>
                                    </td>
                                <td style="
                            width: 119.5pt;
                            border-top: 0.75pt solid #000000;
                            border-left: 0.75pt solid #000000;
                            border-bottom: 0.75pt solid #000000;
                            padding-right: 0.12pt;
                            padding-left: 0.12pt;
                            vertical-align: top;
                            background-color: #ffffff;
                        ">
                                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;padding: 10px 2px 2px 10px;"><span style="font-family: 'Arial Unicode MS';">@element.TotalPrice</span></p>
                                </td>
                        </tr>
                    }
                        <tr style="height: 9.85pt;">
                            <td style="width: 35.2pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Arial Unicode MS';">&nbsp;</span></p>
                            </td>
                            <td style="
                        width: 186.5pt;
                        border-top: 0.75pt solid #000000;
                        border-right: 0.75pt solid #000000;
                        border-left: 0.75pt solid #000000;
                        padding-right: 0.12pt;
                        padding-left: 0.12pt;
                        vertical-align: top;
                        background-color: #ffffff;
                    ">
                                <p style="margin: 0pt 0pt 8pt;margin-left: 2pt; margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Times New Roman';">ИТОГО</span></p>
                            </td>
                            <td style="
                        width: 121.05pt;
                        border-top: 0.75pt solid #000000;
                        border-right: 0.75pt solid #000000;
                        border-left: 0.75pt solid #000000;
                        padding-right: 0.12pt;
                        padding-left: 0.12pt;
                        vertical-align: top;
                        background-color: #ffffff;
                    ">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Arial Unicode MS';">@countHD</span></p>
                            </td>
                            <td style="width: 119.5pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 0.12pt; padding-left: 0.12pt; vertical-align: top; background-color: #ffffff;">
                                <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 12pt;"><span style="font-family: 'Arial Unicode MS';">@itog</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <p style="margin: 0pt 0pt 8pt;margin-bottom: 0pt; line-height: normal; font-size: 1pt;">
                <span style="font-family: 'Arial Unicode MS';">&nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-top: 13.75pt; margin-left: 4pt; margin-bottom: 0pt; line-height: 13.5pt;"><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Итого к оплате:</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 17.05pt; line-height: 13.5pt;">
                <span style="width: 408.05pt; font-family: 'Lucida Console'; font-size: 13.5pt; display: inline-block;">  @itog  </span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">сомов</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Руководитель организации здравоохранения:&nbsp;</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;">
                <span style="font-family: 'Times New Roman';">____________________________________________________</span>
                <span style="font-family: 'Times New Roman';">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em>
                <em>
                    <span style="font-family: 'Times New Roman'; font-size: 12pt;">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                </em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 12pt;">________________________________</span></em>
                <em>
                    <span style="font-family: 'Times New Roman'; font-size: 12pt;">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    </span>
                </em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Главный бухгалтер</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
                <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
            </p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 0pt; line-height: 15.85pt;"><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Место печати</span></p>
            <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 35.1pt; line-height: 15.85pt;">
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&laquo;_____&raquo;________________20___г.</span>
                <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
            </p>
        </div>
    </div>
</MudContainer>
 @code {
    [Parameter]
    public string medcenter { get; set; }
    [Parameter]
    public string url { get; set; }
    [Parameter]
    public DateTime dateFrom { get; set; }
    [Parameter]
    public DateTime dateTo { get; set; }
    [Parameter]
    public AccountRegMedCenterDto BigElements { get; set; }
    [Parameter]
    public decimal itog{ get; set; }
    [Parameter]
    public int count50 { get; set; }
    [Parameter]
    public int count75 { get; set; }
    [Parameter]
    public int count100 { get; set; }
    [Parameter]
    public int countHD { get; set; }
    private int num = 1;
    private IEnumerable<MedCenter> UserCenters = new List<MedCenter>();

    protected override async Task OnInitializedAsync()
    {
        num = 1;
    }
    private async Task DownloadFileAsync()
    {
        num = 1;
        var res = await Http.GetAsync("api/excell/accregistriesdown?medCenterId=" + url);
        if (res.IsSuccessStatusCode)
        {
            var fileStream = res.Content.ReadAsStream();
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            await js.InvokeVoidAsync("downloadFileFromStream", "СчетРеестр.xlsx", streamRef);
        }
    }
    private async Task DownloadWordAsync()
    {
        num = 1;
        await js.InvokeVoidAsync("printDivWord", "chek");
        num = 1;
    }
    private async Task DownloadPdfAsync()
    {
        num = 1;
        await js.InvokeVoidAsync("printDiv");
    }
    /*<p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 12.75pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: 13.5pt;">
        <strong><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">СВОДНЫЙ СЧЕТ-РЕЕСТР</span></strong>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 8pt; margin-bottom: 16.6pt; text-align: center; page-break-inside: avoid; page-break-after: avoid; line-height: normal; font-size: 13pt;">
        <strong><span style="font-family: 'Times New Roman';">по оказанным услугам диализа в рамках бюджетного программного диализа</span></strong>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 3.95pt; margin-bottom: 12pt; line-height: normal; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">по __________________________________области</span></p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
        <span style="font-family: 'Times New Roman';">&nbsp;</span><span style="font-family: 'Times New Roman';">Период: с &laquo;____&raquo;_______20</span>
        <span style="width: 8.55pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">года по &laquo;___&raquo;______20</span>
        <span style="width: 7.98pt; font-family: 'Times New Roman'; display: inline-block;">&nbsp;</span><span style="font-family: 'Times New Roman';">год</span>
        <span style="font-family: 'Times New Roman';">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Стоимость базового тарифа _______________________</span></p>
    <table style="margin-top: 0pt;margin-bottom: 8pt;margin-left: 4pt; margin-bottom: 0pt; border: 0.75pt solid #000000; border-collapse: collapse;">
        <tbody>
            <tr style="height: 58.9pt;">
                <td style="width: 40.25pt; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;">
                        <span style="font-family: 'Times New Roman';">№</span><span style="font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 'Times New Roman';">п/п</span>
                    </p>
                </td>
                <td style="width: 127.95pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Наименование организации здраоохранения</span></p>
                </td>
                <td style="width: 84.1pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Кол-во сеансов</span></p>
                </td>
                <td style="width: 84.1pt; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Кол-во пациентов</span></p>
                </td>
                <td style="width: 84.15pt; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Предъявлено к оплате, сом</span></p>
                </td>
            </tr>
            <tr style="height: 29.65pt;">
                <td style="width: 40.25pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">1</span></p>
                </td>
                <td style="width: 127.95pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.15pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height: 29.65pt;">
                <td style="width: 40.25pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">2</span></p>
                </td>
                <td style="width: 127.95pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.1pt; border: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.15pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; border-bottom: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
            </tr>
            <tr style="height: 29.65pt;">
                <td style="width: 40.25pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 127.95pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">ИТОГО</span></p>
                </td>
                <td style="width: 84.1pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.1pt; border-top: 0.75pt solid #000000; border-right: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
                <td style="width: 84.15pt; border-top: 0.75pt solid #000000; border-left: 0.75pt solid #000000; padding-right: 5.03pt; padding-left: 5.03pt; vertical-align: top;">
                    <p style="margin: 0pt 0pt 8pt;margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">Итого к оплате __________________________________сомов</span></p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 14.85pt; line-height: normal; font-size: 13.5pt;">
        <span style="font-family: 'Times New Roman';">Директор ТУ ФОМС: ___________________________________________________</span>
        <span style="font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em>
        <em>
            <span style="font-family: 'Times New Roman'; font-size: 12pt;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </em>
        <em><span style="font-family: 'Times New Roman'; font-size: 12pt;">________________________________</span></em>
        <em>
            <span style="font-family: 'Times New Roman'; font-size: 12pt;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </em>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Начальник отдела экономического анализа и отчетности</span><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp;&nbsp;</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Начальник отдела экспертизы</span><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">&nbsp;&nbsp;</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">качества __________________________________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;"><span style="font-family: 'Times New Roman'; font-size: 13.5pt;">Зав.сектором ИО&nbsp;</span></p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 15pt; line-height: 15.85pt;">
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">__________________________________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">Фамилия, имя, отчество</span></em><span style="font-family: 'Times New Roman'; font-size: 10pt;">&nbsp;</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">_____________________________</span>
        <span style="font-family: 'Times New Roman'; font-size: 13.5pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <em><span style="font-family: 'Times New Roman'; font-size: 10pt;">подпись</span></em>
    </p>
    <p style="margin: 0pt 0pt 8pt;margin-left: 4pt; margin-bottom: 32.4pt; line-height: 115%; font-size: 13.5pt;"><span style="font-family: 'Times New Roman';">&nbsp;</span></p>
    <p>&nbsp;</p>*/
}
