@page "/gridepicrisis"
@using System.Net.Http.Json
@inject HttpClient Http


<MudContainer MaxWidth="MaxWidth.Large">

        <MudGrid>          
            <MudItem xs="4" md="4">
                <MudDatePicker Label="Дата от" @bind-Date="dateFrom" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudDatePicker Label="Дата до" @bind-Date="dateTo" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchAnalysesAsync" StartIcon="@Icons.Material.Filled.Search" Size="Size.Small">Фильтр</MudButton>
            </MudItem>
            <MudItem xs="12" md="12">
                &nbsp;
            </MudItem>
        </MudGrid>
  

    <table class="table">
        <thead>
            <tr>
                <th colspan="5" Style="text-align:center;">Количество пациентов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>ДИАЛИЗ - spKt/V ≥1.4</b></td>
                <td> &lt;1.4 </td>
                <td> 1.4 </td>
                <td> 1.4> </td>
                <td>Итог</td>
            </tr>
            <tr>
                <td></td>
                <td>@items.sp11</td>
                <td>@items.sp12</td>
                <td>@items.sp13</td>
                <td>@items.sp14</td>
            </tr>
            
        </tbody>
    </table>

      <table class="table">
        <thead>
            <tr>
                <th colspan="5" Style="text-align:center;">Количество пациентов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>ГЕМОГЛОБИН, г/л </b></td>
                <td> &lt;95 </td>
                <td> 95-120 </td>
                <td> >120 </td>
                <td>Итог</td>
            </tr>
            <tr>
                <td></td>
                <td>@items.sp21</td>
                <td>@items.sp22</td>
                <td>@items.sp23</td>
                <td>@items.sp24</td>
            </tr>
            
        </tbody>
    </table>


      <table class="table">
        <thead>
            <tr>
                <th colspan="5" Style="text-align:center;">Количество пациентов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>УРОВЕН ФАСФАТОВ, ммоль/л </b></td>
                <td> &lt;1.13 </td>
                <td> 1.13-2.0 </td>
                <td> >2.0 </td>
                <td>Итог</td>
            </tr>
            <tr>
                <td></td>
                <td>@items.sp31</td>
                <td>@items.sp32</td>
                <td>@items.sp33</td>
                <td>@items.sp34</td>
            </tr>
            
        </tbody>
    </table>


    <table class="table">
        <thead>
            <tr>
                <th colspan="5" Style="text-align:center;">Количество пациентов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>УРОВЕН ОБЩЕГО КАЛЬЦИЯ, ммоль/л </b></td>
                <td> &lt;2.1 </td>
                <td> 2.1-2.5 </td>
                <td> >2.5 </td>
                <td>Итог</td>
            </tr>
            <tr>
                <td></td>
                <td>@items.sp41</td>
                <td>@items.sp42</td>
                <td>@items.sp43</td>
                <td>@items.sp44</td>
            </tr>
            
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th colspan="5" Style="text-align:center;">Количество пациентов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>УРОВЕН ПАРАТГАРМОНА, пг/л </b></td>
                <td> &lt;130</td>
                <td> 130-600 </td>
                <td> >600</td>
                <td>Итог</td>
            </tr>
            <tr>
                <td></td>
                <td>@items.sp51</td>
                <td>@items.sp52</td>
                <td>@items.sp53</td>
                <td>@items.sp54</td>
            </tr>

        </tbody>
    </table>
   


</MudContainer>


@code {
    private string sp11 { get; set; } = "0";
    private string sp12 { get; set; } = "0";
    private string sp13 { get; set; } = "0";
    private string sp14 { get; set; } = "0";

    private string sp21 { get; set; } = "0";
    private string sp22 { get; set; } = "0";
    private string sp23 { get; set; } = "0";
    private string sp24 { get; set; } = "0";

    private string sp31 { get; set; } = "0";
    private string sp32 { get; set; } = "0";
    private string sp33 { get; set; } = "0";
    private string sp34 { get; set; } = "0";

    private string sp41 { get; set; } = "0";
    private string sp42 { get; set; } = "0";
    private string sp43 { get; set; } = "0";
    private string sp44 { get; set; } = "0";

    private string sp51 { get; set; } = "0";
    private string sp52 { get; set; } = "0";
    private string sp53 { get; set; } = "0";
    private string sp54 { get; set; } = "0";


    private DateTime? dateFrom = DateTime.Today.AddDays(-30);
    private DateTime? dateTo = DateTime.Today;

    public EpicrisisRepDto items = new();

    protected override async Task OnInitializedAsync()
    {
        await SearchAnalysesAsync();
    }
  
    private async Task SearchAnalysesAsync()
    {
        string dFrom = "";
        string dTo = "";
        if (dateFrom != null)
        {
            dFrom = dateFrom?.ToString("yyyyMMdd");
        }
        var dateToLocal = DateTime.Today.AddDays(1);
        if (dateTo != null)
        {
            var newToDate = Convert.ToDateTime(dateTo);
            dateToLocal = newToDate.AddDays(1);
            dTo = dateToLocal.ToString("yyyyMMdd");
        }

        string searchParams = "?fromDate=" + dFrom + "&toDate=" + dTo;
        var response = await Http.GetAsync("api/medcard/epicrisisrep" + searchParams);

        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<EpicrisisRepDto>();
        items = mappedData.Data;
       
    }

}

