@page "/reestrdetail/{id:long}"
@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    
    <MudBreadcrumbs Items="_items">
        <ItemTemplate Context="item">
            <MudLink Href="@item.Href">@item.Text</MudLink>
        </ItemTemplate>
    </MudBreadcrumbs>
   
   <div id="dvPrint">  
        <MudGrid>
            @{
      
                var gonePatients = item.GoneList.ToList();
                if (gonePatients != null)
                {
                    if (gonePatients.Count() > 0)
                    {
                        <MudItem xs="12" md="12" Style="padding:2px; text-align:left;">
                            <MudText Typo="Typo.h6" Style="font-weight:500;">Выбывшие пациенты</MudText>
                        </MudItem>
                         <MudItem xs="12" md="12" Style="padding:2px;">
                            <MudTable Items="@gonePatients" Dense="false" Hover="true" Bordered="true" Striped="true">
                                <HeaderContent>
                                <MudTh>Пациент</MudTh>
                                <MudTh>ИНН</MudTh>
                                <MudTh>Дата</MudTh>
                                <MudTh>Основание</MudTh>                           
                            </HeaderContent>
                                <RowTemplate>
                                    <MudTd>@context.LastName  @context.FirstName @context.MiddleName</MudTd>
                                    <MudTd>@context.Inn</MudTd>
                                    <MudTd>@context.CreatedOn?.ToString("dd.mm.yyyy")</MudTd>
                                    <MudTd>@context.ReasonText</MudTd>                                                             
                                </RowTemplate>                           
                            </MudTable>
                        </MudItem>                        
                        <MudItem xs="12" md="12">
                            &nbsp;
                        </MudItem>
                    }
                }

                var comePatients = item.ComeList.ToList();
                if (comePatients != null)
                {
                    if (comePatients.Count() > 0)
                    {
                        <MudItem xs="12" md="12" Style="padding:2px; text-align:left;">
                            <MudText Typo="Typo.h6" Style="font-weight:500;">Прибывшие пациенты</MudText>
                        </MudItem>
                        <MudItem xs="12" md="12" Style="padding:2px;">
                            <MudTable Items="@comePatients" Dense="false" Hover="true" Bordered="true" Striped="true">
                                <HeaderContent>
                                    <MudTh>Пациент</MudTh>
                                    <MudTh>ИНН</MudTh>
                                    <MudTh>Дата</MudTh>
                                    <MudTh>Основание</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd>@context.LastName  @context.FirstName @context.MiddleName</MudTd>
                                    <MudTd>@context.Inn</MudTd>
                                    <MudTd>@context.CreatedOn?.ToString("dd.mm.yyyy")</MudTd>
                                    <MudTd>@context.ReasonText</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                        <MudItem xs="12" md="12">
                            &nbsp;
                        </MudItem>
                    }
                }
            }
            <MudItem xs="12" md="12">
                
            </MudItem>        
        </MudGrid> 
    </div>
</MudContainer>

@code {
    [Parameter]
    public long id { get; set; }
    private PatientChangesDto item = new PatientChangesDto();

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Назад", href: "/reestr"),
        new BreadcrumbItem("Подробности", href:"", true)
    };

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            await LoadDataDataAsync();
        }
    }

    public async Task PrintAsync()
    {
        await JSRuntime.InvokeVoidAsync("printDiv");
    }
   
    private async Task LoadDataDataAsync()
    {
        var response = await Http.GetAsync("api/patient/detailchanges?id="+id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<PatientChangesDto>();
        item = mappedData.Data;
    }

}
