@page "/newsession/{MedCardId:long}"
@page "/newsession/{MedCardId:long}/{inn}"
@using Microsoft.AspNetCore.SignalR.Client
@using QRCoder
@inject HttpClient Http
@inject IJSRuntime JSRuntime
<MudContainer MaxWidth="MaxWidth.Large">
    <MudForm @ref="form" Model="@sendModel" @bind-IsValid="@IsValid">
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField For="@(()=>sendModel.Inn)" @bind-Value="sendModel.Inn" Required="true" Label="ИНН" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudText> @patientModel.LastName @patientModel.FirstName</MudText>
            </MudItem>
            <MudItem xs="12" md="6">
                @if (isLoadedCenter)
                {
                    <MudSelect T="MedCenter" Label="Мед. центр" SelectedValuesChanged="LoadMachinesAsync" @bind-Value="@SelMedCenter" AnchorOrigin="Origin.BottomCenter">
                        @{
                            <MudSelectItem T="MedCenter">-------</MudSelectItem>
                            @foreach (var medItem in UserCenters)
                            {
                                <MudSelectItem T="MedCenter" Value="@medItem">@medItem.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                }

            </MudItem>
            <MudItem xs="12" md="6">
                <MudSelect T="long" Label="Апарат" Required="true" @bind-Value="@MachineId" AnchorOrigin="Origin.BottomCenter">
                    @{
                        <MudSelectItem T="long" Value="0">---</MudSelectItem>
                        @foreach (var selectReg in MachineList)
                        {
                            <MudSelectItem T="long" Value="@selectReg.Id">@selectReg.Number @selectReg.Name  @selectReg.Model</MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudItem>
            <MudCardActions>

                <MudButton Variant="Variant.Filled"
                           OnClick="@(async () => await SaveAsync())"
                           Disabled=@IsButtonDisabled
                           Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Class="ml-auto">Начать сеанс гемодиализа</MudButton>

                @if (IsIdentified)
                {
                    <p>
                        <MudText  Typo="Typo.h6" Style="color:red;">@ErrMessage</MudText>
                    </p>
                }
            </MudCardActions>

        </MudGrid>
    </MudForm>
</MudContainer>

@code {

    [Parameter]
    public long MedCardId { get; set; } = 0;
    [Parameter]
    public string inn { get; set; }
    MudForm form;
    private string frameUri;

    private HDSession sendModel = new HDSession();

    private Patient patientModel = new Patient();
    private IEnumerable<MedCenter> UserCenters = new List<MedCenter>();
    private bool IsOnlyCenter = true;
    private IEnumerable<MedCenterMachine> MachineList = new List<MedCenterMachine>();
    private bool IsDisabled = true;
    private bool IsValid;
    private bool isLoadedCenter = false;
    public MedCenter SelMedCenter { get; set; } = new MedCenter();
    public long MachineId { get; set; }
    public string ErrMessage = "";
    public bool IsIdentified = true;
    private bool IsButtonDisabled
    {
        get
        {
            // Zorunlu kontroller
            if (IsIdentified || !IsValid)
                return true;
            return false;
        }
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        if (MedCardId > 0)
        {
            await LoadUserCentersAsync();
            sendModel.MedCardId = MedCardId;
            await SearchAsync(inn);
        }
        else
        {
            _navigationManager.NavigateTo("/medcardlist");
        }
    }
    private async Task SearchAsync(string Inn)
    {
        IsDisabled = true;
        var response = await _httpClient.GetAsync("api/patient/searchpatient?Inn=" + Inn);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<Patient>();
        patientModel = mappedData.Data;
        if (patientModel != null)
        {
            sendModel.PatientId = patientModel.Id;
            sendModel.Inn = patientModel.Inn;
            sendModel.ImageStart = patientModel.LastName + " " + patientModel.FirstName;
            IsDisabled = false;
        }
    }

    private async Task LoadIdentify(string Inn)
    {
        IsDisabled = true;
        var response = await _httpClient.GetAsync("api/medcard/getidentify?inn=" + Inn + "&mid=" + SelMedCenter.Id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<HDSession>();
        sendModel = mappedData.Data;
        if (mappedData.Data == null)
        {
            IsIdentified = true;
            sendModel = new HDSession();
            ErrMessage = "Пациент не идентифицирован";
        }
        else
        {
            IsIdentified = false;
        }

    }

    private async Task LoadUserCentersAsync()
    {
        var response = await _httpClient.GetAsync("api/medcenter/relmedcenters");
        var mappedData = await response.ToResult<List<MedCenter>>();
        UserCenters = mappedData.Data;
        if(UserCenters != null)
        {
            if(UserCenters.Count() > 1)
            {
                IsOnlyCenter = false;
            }
            SelMedCenter = UserCenters.Where(t=>t.Title!=null && t.Title!="").Select(t=>t).FirstOrDefault();
            isLoadedCenter = true;
            sendModel.MedCenterId = SelMedCenter.Id;
            await LoadMachinesAsync();

        }
        // UserCenters = await _commonService.LoadRelMedcentersAsync();
        // if (UserCenters != null)
        // {
        //     if (UserCenters.Count() > 1)
        //     {
        //         Console.WriteLine("isonlycenter");
        //         IsOnlyCenter = false;
        //         isLoadedCenter = true;
        //     }
        //     else
        //     {
        //         SelMedCenter = UserCenters.Select(t => t).FirstOrDefault();
        //         sendModel.MedCenterId = SelMedCenter.Id;
        //         await LoadMachinesAsync();
        //         isLoadedCenter = true;
        //     }
        // }
    }
    private async Task LoadMachinesAsync()
    {
        sendModel.MachineId = 0;
        if (SelMedCenter != null)
        {
            await LoadIdentify(inn);
            var response = await _httpClient.GetAsync("api/medcenter/allmachines?Id=" + SelMedCenter.Id);
            var mappedData = await response.ToResult<List<MedCenterMachine>>();
            MachineList = mappedData.Data.FindAll(t => t.IsActive);
        }
    }


    private async Task SaveAsync()
    {
        if (IsValid)
        {
            sendModel.ImageStart = frameUri;
            sendModel.MedCardId = MedCardId;
            sendModel.MachineId = MachineId;
            if (MachineId == 0)
            {
                sendModel.MachineId = MachineList.FirstOrDefault().Id;
            }
            var response = await _httpClient.PostAsJsonAsync("api/medcard/startsession", sendModel);
            var result = await response.ToResult();
            if (!result.Succeeded)
            {
                 _snackBar.Add(result.Messages[0], Severity.Error);
             }
            else
            {
                _snackBar.Add("Успешно", Severity.Success);
                _navigationManager.NavigateTo("/processing");
            }
        }
    }



    public class SearchtDto
    {
        public string Fio { get; set; }
        public string Inn { get; set; }
        public string Image { get; set; }

    }

    [JSInvokable]
    public void ProcessImage(string imageString)
    {
        frameUri = imageString;
    }

}
