@using Dialysis.Shared.Models.Files;
@inject HttpClient Http
<MudDialog>
    <DialogContent>
        <InputFile OnChange="OnInputFileChange" multiple/>
        <br />
        @if (imageList != null && imageList.Count > 0)
        {
            <div class="col-12 image-list">
                <MudTable Items="@imageList" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                    <HeaderContent>
                        <MudTh>Id</MudTh>
                        <MudTh>File</MudTh>
                        <MudTh>File Name</MudTh>
                        <MudTh>Action</MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="Id">
                            @if(context.ContentType == "application/pdf")
                            {
                                <img src="pdficon.jpg" width="80" height="80">
                            }
                            else
                            {
                                <img src="@context.Base64File" width="80" height="80">
                            }
                        </MudTd>
                        <MudTd DataLabel="File Name">@context.FileName</MudTd>
                        <MudTd DataLabel="Action">
                            <a download="@context.FileName" href="@context.Base64File" target="_blank">
                                <MudIconButton 
                                    Icon="@Icons.Material.Filled.Download" 
                                    Size="Size.Small"
                                    Color="Color.Warning">>
                                </MudIconButton>
                            </a>
                        </MudTd>
                        <MudTd DataLabel="Action">
                            <MudIconButton 
                                Icon="@Icons.Material.Filled.Delete" 
                                aria-label="Редактировать"
                                @onclick="@(async() => await DeleteteFiles(context.Id))"
                                Size="Size.Small"
                                Color="Color.Warning">
                            </MudIconButton>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    ProtocolFile saveFile = new ProtocolFile();
    IList<ProtocolFile> imageList = new List<ProtocolFile>();
    [Parameter] public long id { get; set; }
    private Patient patient = new Patient();
    private long maxFileSize = 999999999999;
    protected override async Task OnInitializedAsync()
    {
        await GetUploadFiles();
        await GetPatient();

    }

    public async Task GetPatient()
    {
        var response = await Http.GetAsync("api/patient/getbyid?Id=" + id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<Patient>();
        patient = mappedData.Data;
    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }

    public void Submit()
    {
        FileUpdateToDb();
        MudDialog.Close(DialogResult.Ok(true));
    }
    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var imageFiles = e.GetMultipleFiles();

        foreach (var img in imageFiles)
        {
            var format = img.ContentType;
            var imageInfo = new ProtocolFile();
            Stream stream = img.OpenReadStream(maxFileSize);
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();
            var imgUrl = $"data:{format};base64,{Convert.ToBase64String(ms.ToArray())}";
            imageInfo.FileName = img.Name;
            imageInfo.Data = ms.ToArray();
            imageInfo.ContentType = img.ContentType;
            imageInfo.Base64File = imgUrl;
            imageInfo.EntityId = id;
            imageInfo.Inn = patient.Inn;
            imageList.Add(imageInfo);
        }
    }
    public async void FileUpdateToDb()
    {
        var response = await _httpClient.PostAsJsonAsync("api/patient/addprotocolfile", imageList);
        var result = await response.ToResult();
        if (!result.Succeeded)
        {
            _snackBar.Add(result.Messages[0], Severity.Error);
        }
        else
        {
            _snackBar.Add("Успешно", Severity.Success);
        }
        this.StateHasChanged();
        await GetUploadFiles();
    }
    private async Task GetUploadFiles()
    {
        var response = await Http.GetAsync("api/patient/getprotocolfiles?id=" + id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<List<ProtocolFile>>();
        imageList = mappedData.Data;
    }
    private async Task DeleteteFiles(long id=0)
    {
        var selItem = imageList.Where(t => t.Id == id).FirstOrDefault();
        var response = await Http.PostAsJsonAsync("api/patient/deleteprotocolfile", selItem);
        var result = await response.ToResult();
        await GetUploadFiles(); 
    }
}
