@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="max-height: 400px; overflow-y: scroll">
        <MudGrid>
            <MudItem xs="6" md="10">
            </MudItem>
             <MudItem xs="6" md="2">
                   <MudButton Variant="Variant.Filled"
                   @onclick="@(async() => await PrintAsync())" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Печать
        </MudButton>
            </MudItem>
       
<MudItem xs="12" md="12">
                <div id="dvPrint">

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:166.0pt;margin-bottom:.0001pt;line-height:12pt'>
                        <b>
                            <span lang=ru
                                  style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                ПРОТОКОЛ
                                СЕАНСА ДИАЛИЗА
                            </span>
                        </b>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:166.0pt;margin-bottom:.0001pt;line-height:12pt'>
                        <b>
                            <span lang=ru
                                  style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>&nbsp;</span>
                        </b>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Пациент
                            (ПИН, ФИО) : 
                        </b> @element?.Patient.Inn ,  @element?.Patient.LastName   @element?.Patient.FirstName
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                           <b> Дата/время
                            подключения к АИП : 
                        </b>@element?.HDSession?.SessionStart?.ToString("dd.MM.yyyy HH:mm") <b> Дата/время отключения АИП : </b>@element?.HDSession?.SessionEnd?.ToString("dd.MM.yyyy HH:mm")
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:22.4pt;
margin-left:7.0pt;text-align:justify;line-height:13pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Жалобы
                            на момент осмотра :
                        </b>  @element?.HDSession?.Complaints
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>&nbsp;</span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:13.6pt;
margin-left:7.0pt;text-align:justify;line-height:13pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Состояние
                            пациента на момент подключения к
                            АИП :
                        </b>@element?.HDSession?.Condition
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:13.6pt;
margin-left:7.0pt;text-align:justify;line-height:13pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Больной
                            (ая) подключен (а) к АИП серии :
                        </b> @element?.MedCenterMachine?.Number @element?.MedCenterMachine?.Model  @element?.MedCenterMachine?.Name 
                        <b>Тип диализатора : </b>@element?.HDSession?.TypeDialyzer
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                           <b> Программа
                            сеанса
                        (HD,HD,UF) :  </b> @element?.HDSession?.Program </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Диализатор
                            промыт и заполнен раствором
                        
                            0.9%
                            - 800.0 мл :  </b> @element?.HDSession?.Dialyzer  
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Коррекция
                            электролитов по
                        Na : 
                        </b>
                            @element?.HDSession?.Correction  
                            
                            <b> Реинфузия
                            0.9% (мл) : 
                        </b>@element?.HDSession?.Reinfusion
                    </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Доступ
                            (А-фистула; 2-х канальный подключичный катетер или другое) :  </b> @element?.HDSession?.Access</span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Антикоагуляция
                            (гепарин, фраксипарин или др.) (мл,
                            Ед) :  </b> @element?.HDSession?.Anticoagulation
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Объем
                            УФ :
                        </b>@element?.HDSession?.Uf мл. <b>Скорость потока крови : </b> @element?.HDSession?.Speed мл/мин.
                        <b> Длительность
                            сеанса:
                        </b>
                        @if (element.HDSession.TotalMinutes > 0)
                        {
                            <span> @MinutsTohHours((double)element.HDSession.TotalMinutes) </span>
                        }
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:13pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>&nbsp;</span>
                    </p>

                    <div align=center>

                        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                               style='border-collapse:collapse'>
                            <tr style='height:12.6pt'>
                                <td width=116 rowspan=2 valign=top style='width:86.95pt;border:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:12.6pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>&nbsp;</span>
                                    </p>
                                </td>
                                <td width=534 colspan=6 valign=top style='width:400.35pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:12.6pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:149.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            Течение
                                            сеанса диализа 
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr style='height:14.2pt'>
                                <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:17.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>начало</span>
                                    </p>
                                </td>
                                <td width=82 valign=top style='width:61.75pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:17.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            1-й
                                            час
                                        </span>
                                    </p>
                                </td>
                                <td width=91 valign=top style='width:68.2pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:19.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            2-й
                                            час
                                        </span>
                                    </p>
                                </td>
                                <td width=92 valign=top style='width:68.95pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:20.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            3-й
                                            час
                                        </span>
                                    </p>
                                </td>
                                <td width=91 valign=top style='width:68.6pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:19.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            4-й
                                            час
                                        </span>
                                    </p>
                                </td>
                                <td width=95 valign=top style='width:71.1pt;border:solid windowtext 1.0pt;
  border-left:none;background:white;padding:0in .5pt 0in .5pt;height:14.2pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:23.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>конец</span>
                                    </p>
                                </td>
                            </tr>
                            <tr style='height:11.7pt'>
                                <td width=116 valign=top style='width:86.95pt;border:solid windowtext 1.0pt;
  border-top:none;background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:7.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            АД,
                                            мм.рт.ст.
                                        </span>
                                    </p>
                                </td>
                                <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@element?.HDSession?.Sys , @element?.HDSession?.Dia</span>
                                    </p>
                                </td>
                                @if (element?.HDSessionHours != null)
                                {
                                    foreach (var item in element?.HDSessionHours)
                                    {
                                        <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                                <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@item?.Sys ,  @item?.Dia</span>
                                            </p>
                                        </td>                                       

                                    }
                                }
                                <td width=95 valign=top style='width:71.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'> @element?.HDSession?.EndSys,  @element?.HDSession?.EndDia</span>
                                    </p>
                                </td>
                            </tr>
                            <tr style='height:11.7pt'>
                                <td width=116 valign=top style='width:86.95pt;border:solid windowtext 1.0pt;
  border-top:none;background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:7.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            ЧСС
                                        </span>
                                    </p>
                                </td>
                                <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@element?.HDSession?.Ritm </span>
                                    </p>
                                </td>
                                @if (element?.HDSessionHours != null)
                                {
                                    foreach (var item in element?.HDSessionHours)
                                    {
                                        <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                                <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@item?.Ritm</span>
                                            </p>
                                        </td>

                                    }
                                }
                                <td width=95 valign=top style='width:71.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'> @element?.HDSession?.EndRitm</span>
                                    </p>
                                </td>
                            </tr>

                            <tr style='height:11.7pt'>
                                <td width=116 valign=top style='width:86.95pt;border:solid windowtext 1.0pt;
  border-top:none;background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:7.0pt;margin-bottom:.0001pt;line-height:normal'>
                                        <span lang=ru
                                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                                            t тела
                                        </span>
                                    </p>
                                </td>
                                <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@element?.HDSession?.Temp </span>
                                    </p>
                                </td>
                                @if (element?.HDSessionHours != null)
                                {
                                    foreach (var item in element?.HDSessionHours)
                                    {
                                        <td width=82 valign=top style='width:61.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                                <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'>@item?.Temp</span>
                                            </p>
                                        </td>

                                    }
                                }
                                <td width=95 valign=top style='width:71.1pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:white;padding:0in .5pt 0in .5pt;height:11.7pt'>
                                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal'>
                                        <span lang=ru style='font-size:10pt;font-family:"Arial Unicode MS",sans-serif;
  color:black'> @element?.HDSession?.Temp</span>
                                    </p>
                                </td>
                            </tr>

                          
                        </table>

                    </div>

                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal'>
                        <span lang=ru style='font-size:1.0pt;font-family:"Arial Unicode MS",sans-serif;
color:black'>&nbsp;</span>
                    </p>

                    <p class=MsoNormal style='margin-top:10.05pt;margin-right:0in;margin-bottom:
0in;margin-left:7.0pt;margin-bottom:.0001pt;text-align:justify;line-height:
11.7pt'>
                        <span lang=ru style='font-size:11pt;font-family:"Times New Roman",serif;
color:black'>
                        <b>Вес пациента (кг) до:</b> @element?.HDSession?.StartWeight  <b>после: </b> @element?.HDSession?.EndWeight <b>сеанса
                            гемодиализа.
                        </b>
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:6.0pt;margin-bottom:22.75pt;
margin-left:7.0pt;text-align:justify;line-height:11.7pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Синдиализные осложнения (гипотензия: 
                                @if(@element.HDSession.Hd1Hypotension==true){<span>да</span>} else{<span>нет</span>}, гипертензия: @if(@element.HDSession.Hd2Hypertension==true){<span>да</span>} else{<span>нет</span>}, судороги мышц конечностей: @if(@element.HDSession.Hd3MuscleCrampsOfTheLimbs==true){<span>да</span>} else{<span>нет</span>}, нарушения ритма
                            сердца: @if(@element.HDSession.Hd4HeartRhythmDisturbances==true){<span>да</span>} else{<span>нет</span>} , головные боли: @if(@element.HDSession.Hd5Headache==true){<span>да</span>} else{<span>нет</span>}, приступы стенокардии: @if(@element.HDSession.Hd6AnginaAttacks==true){<span>да</span>} else{<span>нет</span>} или др.) : @element.HDSession.Hd7Other 
                        </b> 
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:9.35pt;
margin-left:7.0pt;text-align:justify;line-height:12pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Коррекция
                            осложнений (ЛС во время сеанса): @element.HDSession.Hd8CorrectionOfComplications
                        </b>
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:9.35pt;
margin-left:7.0pt;text-align:justify;line-height:12pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>Плановые
                            назначения: @element.HDSession.Hd9PlannedAppointments
                        </b>
                        </span>
                    </p>

                <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:9.9pt;
margin-left:7.0pt;text-align:justify;line-height:12pt'>
                    <span lang=ru
                          style='font-size:11pt;font-family:"Times New Roman",serif;color:black'><b>Рекомендации: @element.HDSession.Hd10Recommendations</b></span>
                </p>
                <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:9.9pt;
                margin-left:7.0pt;text-align:justify;line-height:12pt'>
                                    <span lang=ru
                                          style='font-size:11pt;font-family:"Times New Roman",serif;color:black'><b>Эффективное время: @element.HDSession.Hd11EffectiveTime</b></span>
                                </p>
                <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:9.9pt;
                margin-left:7.0pt;text-align:justify;line-height:12pt'>
                                        <span lang=ru
                                          style='font-size:11pt;font-family:"Times New Roman",serif;color:black'><b>Описание: @element.HDSession.Note2</b></span>
                                    </p>

                    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:25.25pt;
margin-left:7.0pt;text-align:justify;line-height:12pt'>
                        <span lang=ru
                              style='font-size:11pt;font-family:"Times New Roman",serif;color:black'>
                            <b>ФИО
                            деж. врача
                        </b>@element.HDSession.FioDoctor <b>ФИО деж.мед.сестры </b>@element.HDSession.FioDepartmentHead
                        </span>
                    </p>

                </div>


</MudItem>

        <MudItem xs="12" md="12">
            &nbsp;
        </MudItem>

</MudGrid>

</MudContainer>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public long HDSessionId { get; set; }
    public HDSessionDto element { get; set; }

     protected override async Task OnInitializedAsync()
    {
        if (HDSessionId > 0)
        {
            
            await LoadDetailAsync();
        }
    }

    public async Task LoadDetailAsync()
    {
        var response = await Http.GetAsync("api/medcard/sessiondetail?sessionId=" + HDSessionId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<HDSessionDto>();
        element = mappedData.Data;       
    }

    private string MinutsTohHours(double totalMinutes)
    {
        int hours = (int)(totalMinutes / 60);
        //total minutes
        int minutes = (int)(totalMinutes % 60);
        //output is 1:10
        var time = $"{hours}:{minutes:00}";
        return time;
       
    }

    public async Task PrintAsync()
    {
        await JSRuntime.InvokeVoidAsync("printDiv");
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }

    
}

