@inject HttpClient Http
@page "/sessionstartform/{id:long}"
@using Dialysis.Shared.Constants;

<MudContainer MaxWidth="MaxWidth.Large">
    <MudForm @ref="form" Model="@sendModel" @bind-IsValid="@IsValid">
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudText>
                    @fio
                </MudText>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField @bind-Value="sendModel.Condition" Required="true" Label="Состояние пациента на момент под. к АИП" Lines="3" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField @bind-Value="sendModel.Complaints" Required="true" Label="Жалобы на момент осмотра"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudItem xs="12" md="12"> Программа сеанса</MudItem>

                <MudItem xs="12" md="12">
                    <InputRadioGroup T="string" @bind-Value="sendModel.Program">
                        <InputRadio class="form-check-input" T="string" Value="@("HD")" Color="Color.Secondary"/><label class="form-check-label">HD</label>
                        <InputRadio class="form-check-input" T="string" Value="@("HDF")" Color="Color.Secondary"/><label class="form-check-label">HDF</label>
                        <InputRadio class="form-check-input" T="string" Value="@("Uf")" Color="Color.Secondary"/><label class="form-check-label">UF</label>
                    </InputRadioGroup>
                </MudItem>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Dialyzer" Required="true" Label="Д-тор промыт и зап. рествором"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Correction" Required="true" Label="Коррекция электролитов по Na"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Reinfusion" Required="true" Label="Реинфузия NaCI"/>
            </MudItem>

            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Access" Required="true" Label="Доступ"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Anticoagulation" Required="true" Label="Антикоагуляция"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Uf" Required="true" Label="Обьем УФ"/>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField @bind-Value="sendModel.Speed" Required="true" Label="Скорость потока крови"/>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="sendModel.Durators" Required="true" Label="Длителность"/>
            </MudItem>
            <MudItem xs="12" md="6">
                @if (DataDialyzerTypes != null)
                {
                    <label for="cbFiltering" class="demo-text cw-480 mb-1">
                        Тип диализатора
                    </label>
                    <DxComboBox Data="@DataDialyzerTypes"
                                FilteringMode="@FilteringMode"
                                @bind-Value="@item"
                                TextFieldName="@nameof(DialyzerType.Name)"
                                CssClass="cw-480"
                                InputId="cbFiltering"/>
                }
            </MudItem>
            <MudItem xs="12" md="4">
                <MudTextField @bind-Value="sendModel.StartWeight" MaxLength="5" Required="true" Label="Вес пациента"/>
            </MudItem>
            <MudItem xs="3" md="2">
                <MudTextField For="@(() => sendModel.Sys)" MaxLength="4" Required="true" @bind-Value="sendModel.Sys" Label="SYS"/>
            </MudItem>
            <MudItem xs="3" md="2">
                <MudTextField For="@(() => sendModel.Dia)" MaxLength="4" Required="true" @bind-Value="sendModel.Dia" Label="DIA"/>
            </MudItem>
            <MudItem xs="3" md="2">
                <MudTextField For="@(() => sendModel.Ritm)" MaxLength="4" Required="true" @bind-Value="sendModel.Ritm" Label="Частота"/>
            </MudItem>
            <MudItem xs="3" md="2">
                <MudTextField For="@(() => sendModel.Temp)" MaxLength="4" Required="true" @bind-Value="sendModel.Temp" Label="Температура"/>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudButton DisableElevation Variant="Variant.Filled" @onclick="@(() => { _navigationManager.NavigateTo($"/finishedlist/"); })">Отмена</MudButton>

                <MudButton Variant="Variant.Filled" OnClick="@(async () => await SaveAsync())" Disabled="@GetDisable()" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Class="ml-auto">Сохранить</MudButton>
            </MudItem>
        </MudGrid>
            
    </MudForm>
</MudContainer>

 @code {

    [Parameter]
    public long Id { get; set; }
    public string SelectedOption1 { get; set; }
    public string fio = "";
    MudForm form;
    private HDSession sendModel = new HDSession();
    IEnumerable<DialyzerType> DataDialyzerTypes { get; set; } = new List<DialyzerType>();
    private DialyzerType item = new DialyzerType();
    private bool IsDisabled = true;
    private bool IsValid;

    private bool GetDisable()
    {
        if (IsValid == true)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    DataGridFilteringMode FilteringMode { get; set; } = DataGridFilteringMode.Contains;
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/medcard/gethdsessionbyid?id=" + Id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<HDSession>();
        sendModel = mappedData.Data;
        if (String.IsNullOrEmpty(sendModel.Program))
        {
            sendModel.Program = "HD";
        }
        
        var resp = await Http.GetAsync("api/patient/getbyid?id=" + sendModel.PatientId);
        var mapp = await resp.ToResult<Patient>();
        fio = mapp.Data.LastName + " " + mapp.Data.FirstName;
        await LoadDialyzerTypesAsync();
    }
    private async Task LoadDialyzerTypesAsync()
    {
        var response2 = await Http.GetAsync("api/status/alldialyzer");
        if (response2.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData2 = await response2.ToResult<List<DialyzerType>>();
        DataDialyzerTypes = mappedData2.Data;
        if (!String.IsNullOrEmpty(sendModel.TypeDialyzer))
        {
            item = DataDialyzerTypes.Where(i => i.Name == sendModel.TypeDialyzer).FirstOrDefault();
        }
    }

    private async Task<IEnumerable<string>> Search1(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return DataDialyzerTypes.Select(p=>p.Name);
        return DataDialyzerTypes.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase)).Select(d=>d.Name);
    }

    private async Task SaveAsync()
    {
        sendModel.TypeDialyzer=item.Name;
        var response = await _httpClient.PostAsJsonAsync("api/medcard/addsessionstart", sendModel);
        var result = await response.ToResult();
        if (!result.Succeeded)
        {
            _snackBar.Add(result.Messages[0], Severity.Error);
            if (sendModel.StatusId == (long)HDSessionEnum.Started)
            {
                _navigationManager.NavigateTo($"/processing/");
            }
            else
            {
                _navigationManager.NavigateTo($"/finishedlist/");
            }
        }
        else
        {
            _snackBar.Add("Успешно", Severity.Success);
            if (sendModel.StatusId == (long)HDSessionEnum.Started)
            {
                _navigationManager.NavigateTo($"/processing/");
            }
            else
            {
                _navigationManager.NavigateTo($"/finishedlist/");
            }
        }

    }
}
