@page "/protocoldetail/{id:long}"
@using System.Net.Http.Json
@using Dialysis.Client.Pages.Authentication;
@using Dialysis.Client.Pages.Protocols
@using Dialysis.Shared.Models.Files
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    
    <MudBreadcrumbs Items="_items">
        <ItemTemplate Context="item">
            <MudLink Href="@item.Href">@item.Text</MudLink>
        </ItemTemplate>
    </MudBreadcrumbs>
    <MudGrid>
        <MudItem xs="6" md="10">            
        </MudItem>
        <MudItem xs="6" md="2">
            <MudButton Variant="Variant.Filled"
                       @onclick="@(async() => await PrintAsync())" StartIcon="@Icons.Material.Filled.Print"
                       Size="Size.Small" Color="Color.Info">
                Печать
            </MudButton>
        </MudItem>
    </MudGrid>
   <div id="dvPrint">  
        <MudGrid>
            @{
            foreach (var item in GroupList)
            {
                var groupPatients = GroupTitle.PatientHistory.Where(p => p.GroupFromId == item.Id).ToList();
                if (groupPatients != null)
                {
                    if (groupPatients.Count() > 0)
                    {
                        <MudItem xs="12" md="12" Style="padding:2px; text-align:left;">
                            <MudText Typo="Typo.h6" Style="font-weight:500;">Выбывшие из списка @item.Title @itemDate</MudText>
                        </MudItem>
                         <MudItem xs="12" md="12" Style="padding:2px;">
                            <MudTable Items="@groupPatients" Dense="false" Hover="true" Bordered="true" Striped="true">                           
                            <HeaderContent>
                                <MudTh>Пациент</MudTh>
                                <MudTh>ИНН</MudTh>
                                <MudTh>Этап</MudTh>
                                <MudTh>Основание</MudTh>
                                <MudTh>ЛПУ</MudTh>                               
                                <MudTh></MudTh>                               
                            </HeaderContent>
                                <RowTemplate>
                                    <MudTd>@context.LastName  @context.FirstName @context.MiddleName</MudTd>
                                    <MudTd>@context.Inn</MudTd>
                                    <MudTd>@context.GroupText</MudTd>
                                    <MudTd>@context.ReasonText</MudTd>
                                    <MudTd>@context.LPUText</MudTd>
                                    <MudTd>
                                        <MudIconButton Icon="@Icons.Material.Filled.FileOpen" aria-label="Редактировать"
                                        @onclick="@(async() => await UploadFles(context.Inn))"
                                                        Size="Size.Small"
                                                        Color="Color.Warning">

                                        </MudIconButton>
                                    </MudTd>
                                </RowTemplate>                           
                            </MudTable>
                        </MudItem>                        
                        <MudItem xs="12" md="12">
                            &nbsp;
                        </MudItem>
                    }
                }
                


                }
            }

            <MudItem  Typo="Typo.h6" xs="2" md="2" Style="padding:2px; text-align:left;">
              <MudText Typo="Typo.h6" Style="font-weight:500;"> Примечание </MudText>
            </MudItem>
        <MudItem xs="10" md="10" Style="padding:2px; text-align:left;">
                @GroupTitle.PatientGroupTitle?.Description
            </MudItem>

        <MudItem xs="12" md="12" Typo="Typo.h6" Style="padding:2px; text-align:left;">
               <MudText Typo="Typo.h6" Style="font-weight:500;" Class="printHeader"> Состав комиссии </MudText>
            </MudItem>
             <MudItem xs="12" md="12">
                <MudTable Items="@GroupTitle.PersonGroup" Dense="false" Hover="false" Bordered="false" Striped="false" Class="tbNoBorder">
                    <RowTemplate>
                        <MudTd Style="width:30%;">@context.PersonTitleText </MudTd>
                        <MudTd> @context.PersonFio</MudTd>
                    </RowTemplate>
            </MudTable>
            </MudItem>
            <MudItem xs="12" md="12">
                
            </MudItem>        
        </MudGrid> 
    </div>
</MudContainer>

@code {
    [Parameter]
    public long id { get; set; }
    private string itemDate { get; set; }

    private IEnumerable<PatientGroup> GroupList = new List<PatientGroup>();
    private PatientGroupActDto GroupTitle = new PatientGroupActDto();

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Назад", href: "/protocol"),
        new BreadcrumbItem("Подробности", href:"", true)
    };

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.Uri;
        var query = new Uri(uri).Query;
    
        var queryDictionary = System.Web.HttpUtility.ParseQueryString(query);
        itemDate = queryDictionary["date"];
        if (id > 0)
        {
            await LoadGroupDataAsync();
            await LoadDataDataAsync();
        }
    }

    public async Task PrintAsync()
    {
        await JSRuntime.InvokeVoidAsync("printDiv");
    }
   
    private async Task LoadDataDataAsync()
    {
        var response = await Http.GetAsync("api/patient/detailprotocol?id="+id);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<PatientGroupActDto>();
        GroupTitle = mappedData.Data;
    }

    private async Task LoadGroupDataAsync()
    {
        var response = await Http.GetAsync("api/status/allgroups");
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<List<PatientGroup>>();
        GroupList = mappedData.Data;
    }
    private async Task UploadFles(string inn)
    {

        var parameters = new DialogParameters();
        parameters.Add("inn", inn);


        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true, Position = DialogPosition.TopCenter };
        var dialog = _dialogService.Show<ProtocolFileDetail>("Редактировать файлы", parameters, options);
        var result = await dialog.Result;
    }
}
