@using System.Net.Http.Json
@inject HttpClient Http
<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 500px; overflow-y: scroll">
    <EditForm Model="@searchModel">
        <MudGrid>
            <MudItem xs="12" md="12">
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.MapsHomeWork" Class="mr-3 mb-n1" />
                    Добавить мед. карта
                </MudText>
            </MudItem>
            <MudItem xs="6" md="4">
                <MudTextField For="@(() => searchModel.Inn)" @bind-Value="searchModel.Inn" Label="ИНН" />
            </MudItem>
            <MudItem xs="12" md="4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchAsync" StartIcon="@Icons.Material.Filled.Search" Size="Size.Small">Поиск пациента</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
    <MudForm @ref="form" Model="@AddEditModel" @bind-IsValid="@IsValid">
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField For="@(() => AddEditModel.Inn)" Required="true" @bind-Value="AddEditModel.Inn" Label="ИНН" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField For="@(() => Fio)" Required="true" @bind-Value="Fio" Label="ФИО" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudTextField For="@(() => pol)" Required="true" @bind-Value="pol" Label="Пол" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Дата рож." @bind-Date="date_of_birth" DateFormat="dd.MM.yyyy" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudTextField For="@(() => age)" Required="true" @bind-Value="age" Label="Возраст" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudTextField For="@(() => phoneNum1)" Required="true" @bind-Value="phoneNum1" Label="Контакты" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudTextField For="@(() => AddEditModel.PassportNum)" Required="true" @bind-Value="AddEditModel.PassportNum" Label="Нормер паспорта" />
            </MudItem>
            <MudItem xs="12" md="9">
                <MudTextField For="@(() => address)" Required="true" @bind-Value="address" Label="Область/район/село или город проживания" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudSelect T="long" Label="Мед. центр" Required="true" @bind-Value="@AddEditModel.MedCenterId" AnchorOrigin="Origin.BottomCenter">
                    @{
                        if (IsOnlyCenter == false)
                        {
                            <MudSelectItem T="long" Value="0">-------</MudSelectItem>

                        }
                        @foreach (var medItem in UserCenters)
                        {
                            <MudSelectItem T="long" Value="@medItem.Id">@medItem.Title</MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="6">

            </MudItem>
            <MudItem xs="12" md="5">
                <MudDatePicker Label="Дата поступления" Required="true" @bind-Date="date1" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="12" md="4">
                <MudTimePicker Label="Время поступления" @bind-Time="time1" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudSelect For="@(() => blood)" Required="true" @bind-Value="blood" Label="Группа крови" AdornmentColor="Color.Primary">
                    <MudSelectItem Value="@("нет")">нет</MudSelectItem>
                    <MudSelectItem Value="@("1")">1</MudSelectItem>
                    <MudSelectItem Value="@("2")">2</MudSelectItem>
                    <MudSelectItem Value="@("3")">3</MudSelectItem>
                    <MudSelectItem Value="@("4")">4</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="5">
                <MudDatePicker Label="Дата выписки" Required="true" @bind-Date="date" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="12" md="4">
                <MudTimePicker Label="Время выписки" @bind-Time="time2" />
            </MudItem>
            <MudItem xs="12" md="3">
                <MudSelect For="@(() => resus)" Required="true" @bind-Value="resus" Label="Резус-принадлежность" Placeholder="Негатив или пизитив" AdornmentColor="Color.Primary">
                    <MudSelectItem Value="@("Негатив")">Негатив</MudSelectItem>
                    <MudSelectItem Value="@("Позитив")">Позитив</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField For="@(() => AddEditModel.ConductedHemodialysis)" Required="true" @bind-Value="AddEditModel.ConductedHemodialysis" Label="Проведено сеансов гемодиализа за период лечения" />
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField For="@(() => AddEditModel.AllergoAnamez)" Required="true" @bind-Value="AddEditModel.AllergoAnamez" Label="Аллергологический анамнез (лекарственная или другая неперенесимочть)" />
            </MudItem>
            <MudItem xs="2" md="2">Клинический диагноз:</MudItem>
            <MudItem xs="2" md="2">Код МКБ</MudItem>
            <MudItem xs="2" md="4">дата/время установления</MudItem>
            <MudItem xs="2" md="4">Нозологическая форма</MudItem>
            <MudItem xs="2" md="2">Основной диагноз</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.MainDiagnosisCode"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected1(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления" Required="true" @bind-Date="DiagnosisDate1" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time3" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.MainDiagnosis)" Required="true" @bind-Value="AddEditModel.MainDiagnosis" Label="Основной диагноз" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Осложнения основного заболевания 1</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Complication1Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected2(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления" @bind-Date="DiagnosisDate2" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time4" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Complication1)" @bind-Value="AddEditModel.Complication1" Label=" Осложнения основного заболевания 1" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Осложнения основного заболевания 2</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Complication2Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected3(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления" @bind-Date="DiagnosisDate3" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time5" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Complication2)" @bind-Value="AddEditModel.Complication2" Label=" Осложнения основного заболевания 2" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Осложнения основного заболевания 3</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Complication3Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected4(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления"  @bind-Date="DiagnosisDate4" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time6" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Complication3)"  @bind-Value="AddEditModel.Complication3" Label=" Осложнения основного заболевания 3" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Сопутств. Диагноз 1</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Diagnosis1Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected5(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления"  @bind-Date="DiagnosisDate5" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time7" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Diagnosis1)"  @bind-Value="AddEditModel.Diagnosis1" Label="Сопутствующий Диагноз 1" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Сопутств. Диагноз 2</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Diagnosis2Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected6(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления"  @bind-Date="DiagnosisDate6" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time8" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Diagnosis2)" @bind-Value="AddEditModel.Diagnosis2" Label="Сопутствующий Диагноз 2" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Сопутств. Диагноз 3</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.Diagnosis3Code"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected7(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления"  @bind-Date="DiagnosisDate7" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time9" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.Diagnosis3)"  @bind-Value="AddEditModel.Diagnosis3" Label="Сопутствующий Диагноз 3" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="2" md="2">Другое (А-В фистула, протезирование и т.д)</MudItem>
            <MudItem xs="2" md="2">
                <DxComboBox Data="@Codes"
                @bind-Value="@AddEditModel.OtherABCode"
                            CssClass="cw-480"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.StartsWith"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            ValueFieldName="@nameof(CodeMKB.Code)"
                            TextFieldName="@nameof(CodeMKB.Code)"
                            SelectedItemChanged="@((CodeMKB cod)=>Selected8(cod))">
                    <ItemTemplate>
                        <span>@context.Code @context.Name</span>
                    </ItemTemplate>
                </DxComboBox>
            </MudItem>
            <MudItem xs="2" md="2">
                <MudDatePicker Label="Дата установления" @bind-Date="DiagnosisDate8" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="2" md="2">
                <MudTimePicker Label="Время" @bind-Time="time10" />
            </MudItem>
            <MudItem xs="4" md="4">
                <MudTextField For="@(() => AddEditModel.OtherAB)"  @bind-Value="AddEditModel.OtherAB" Label="Другое (А-В фистула, протезирование и т.д)" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12" md="12">
                <MudSelect For="@(() => outTreatment)" Required="true" @bind-Value="outTreatment" Label="Исход лечения" AdornmentColor="Color.Primary">
                    <MudSelectItem Value="@("пустой")">пустой</MudSelectItem>
                    <MudSelectItem Value="@("выписан")">выписан</MudSelectItem>
                    <MudSelectItem Value="@("переведен в другой стайионар")">переведен в другой стайионар</MudSelectItem>
                    <MudSelectItem Value="@("умер")">умер</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudCheckBox For="@(() => Basic_CheckBox6)" Required="false" Label="Больной ознакомлен: с режимом стационара" @bind-Checked="@Basic_CheckBox6" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudText Typo="Typo.h5">Проверен при поступлении на:</MudText>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCheckBox For="@(() => Basic_CheckBox1)" Required="false" Label="Педикулез" @bind-Checked="@Basic_CheckBox1" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCheckBox For="@(() => Basic_CheckBox2)" Required="false" Label="Чесотка" @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCheckBox For="@(() => Basic_CheckBox3)" Required="false" Label="Глистная инвазия реакция Вассермана" @bind-Checked="@Basic_CheckBox3" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCheckBox For="@(() => Basic_CheckBox4)" Required="false" Label="Флюорография" @bind-Checked="@Basic_CheckBox4" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="4">
                <MudCheckBox For="@(() => Basic_CheckBox5)" Required="false" Label="Алкоголь" @bind-Checked="@Basic_CheckBox5" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField For="@(() => AddEditModel.Vgv)" Required="true" @bind-Value="AddEditModel.Vgv" Label=" статус на ВГВ" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Дата ВГВ" @bind-Date="date2" Required="true" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField For="@(() => AddEditModel.Vgs)" Required="true" @bind-Value="AddEditModel.Vgs" Label=" статус на ВГС" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Дата ВГС" @bind-Date="date3" Required="true" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField For="@(() => AddEditModel.Vich)" Required="true" @bind-Value="AddEditModel.Vich" Label="статус на ВИЧ/СПИД" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Дата ВИЧ" @bind-Date="date4" Required="true" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField For="@(() => AddEditModel.FIODoctor)" Required="true" @bind-Value="AddEditModel.FIODoctor" Label="ФИО лечащево врача" />
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField For="@(() => AddEditModel.FIODepartmentHead)" Required="true" @bind-Value="AddEditModel.FIODepartmentHead" Label="ФИО дежурной медсестры" />
            </MudItem>

            <MudItem xs="12" md="12">
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Отмена</MudButton>
                 <MudButton Variant="Variant.Filled" @onclick="@(async() => await SaveAsync())" Disabled="@GetDisable()" Color="Color.Success">Сохранить</MudButton>
             </MudItem>

         </MudGrid>

     </MudForm>

 </MudContainer>

                @code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    MudForm form;
    public bool Basic_CheckBox1 { get; set; } = false;
    public bool Basic_CheckBox2 { get; set; } = false;
    public bool Basic_CheckBox3 { get; set; } = false;
    public bool Basic_CheckBox4 { get; set; } = false;
    public bool Basic_CheckBox5 { get; set; } = false;
    public bool Basic_CheckBox6 { get; set; } = false;

    public string blood { get; set; } = "";
    public string resus { get; set; } = "";
    public string outTreatment { get; set; } = "";
    public TimeSpan? time1 = new TimeSpan(00, 00, 00);
    public TimeSpan? time2 = new TimeSpan(00, 00, 00);
    public TimeSpan? time3 = new TimeSpan(00, 00, 00);
    public TimeSpan? time4 = new TimeSpan(00, 00, 00);
    public TimeSpan? time5 = new TimeSpan(00, 00, 00);
    public TimeSpan? time6 = new TimeSpan(00, 00, 00);
    public TimeSpan? time7 = new TimeSpan(00, 00, 00);
    public TimeSpan? time8 = new TimeSpan(00, 00, 00);
    public TimeSpan? time9 = new TimeSpan(00, 00, 00);
    public TimeSpan? time10 = new TimeSpan(00, 00, 00);
    public MedCardSearch searchModel = new MedCardSearch();
    private Patient patient { get; set; } = new();
    public string Fio = "";
    public string pol = "";
    public DateTime? date_of_birth = DateTime.Today;
    public int age = 0;
    public string phoneNum1 = "";
    public string address = "";
    [Parameter] public MedCard AddEditModel { get; set; }
    [Parameter] public long? MedCardId { get; set; }
    private IEnumerable<District> Elements = new List<District>();
    private IEnumerable<Region> RegionList = new List<Region>();
    private IEnumerable<MedCenter> UserCenters = new List<MedCenter>();
    private IEnumerable<CodeMKB> Codes = new List<CodeMKB>();
    private bool IsOnlyCenter = true;
    private bool IsDisabled = true;
    private bool IsValid;
    DateTime? date = null;
    DateTime? date1 = null;
    DateTime? date2 = null;
    DateTime? date3 = null;
    DateTime? date4 = null;
    DateTime? DiagnosisDate1 = null;
    DateTime? DiagnosisDate2 = null;
    DateTime? DiagnosisDate3 = null;
    DateTime? DiagnosisDate4 = null;
    DateTime? DiagnosisDate5 = null;
    DateTime? DiagnosisDate6 = null;
    DateTime? DiagnosisDate7 = null;
    DateTime? DiagnosisDate8 = null;
    private bool GetDisable()
    {
        if (IsDisabled == false && IsValid == true)
        {
            return false;
        }
        else
        {
            return true;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadCodeMKBAsync();
        await LoadUserCentersAsync();
        var local = await _commonService.LocalMedCard0Async(null);
        if (local != null)
        {
            AddEditModel = local;
            date = AddEditModel.DirectionDate;//Дата выписки
            date1 = AddEditModel.ReceiptDate;
            date2 = AddEditModel.VgvDate;
            date3 = AddEditModel.VgsDate;
            date4 = AddEditModel.VichDate;
            blood = AddEditModel.Blood;
            resus = AddEditModel.Resus;
            outTreatment = AddEditModel.OutTreatment;
            Basic_CheckBox1 = (AddEditModel.Pedikulez == "да") ? true : false;
            Basic_CheckBox2 = (AddEditModel.Chesotka == "да") ? true : false;
            Basic_CheckBox3 = (AddEditModel.Vassermana == "да") ? true : false;
            Basic_CheckBox4 = (AddEditModel.Fluorografia == "да") ? true : false;
            Basic_CheckBox5 = (AddEditModel.Alchohol == "да") ? true : false;
            Basic_CheckBox6 = (AddEditModel.Familiarized == "да") ? true : false;
            searchModel.Inn = AddEditModel.Inn;

            DiagnosisDate1 = AddEditModel.MainDiagnosisDate;
            DiagnosisDate2 = AddEditModel.Complication1Date;
            DiagnosisDate3 = AddEditModel.Complication2Date;
            DiagnosisDate4 = AddEditModel.Complication3Date;
            DiagnosisDate5 = AddEditModel.Diagnosis1Date;
            DiagnosisDate6 = AddEditModel.Diagnosis2Date;
            DiagnosisDate7 = AddEditModel.Diagnosis3Date;
            DiagnosisDate8 = AddEditModel.OtherABDate;

            time1 = AddEditModel.ReceiptTime;
            time2 = AddEditModel.DirectionTime;
            time3 = AddEditModel.MainDiagnosisTime;
            time4 = AddEditModel.Complication1Time;
            time5 = AddEditModel.Complication2Time;
            time6 = AddEditModel.Complication3Time;
            time7 = AddEditModel.Diagnosis1Time;
            time8 = AddEditModel.Diagnosis2Time;
            time9 = AddEditModel.Diagnosis3Time;
            time10 = AddEditModel.OtherABTime;

            await SearchAsync();
        }
        StateHasChanged();
    }
    private async Task SearchAsync()
    {
        IsDisabled = true;
        var response = await Http.GetAsync("api/patient/searchpatient?Inn=" + searchModel.Inn);
        var mappedData = await response.ToResult<Patient>();

        if (mappedData != null)
        {
            patient = mappedData.Data;
            await LoadDistrictsAsync();
            await LoadDistDefaultRegionsAsync();
            DateTime datetimenow = DateTime.Now;
            AddEditModel.Inn = mappedData.Data.Inn;
            Fio = mappedData.Data!.LastName + " " + mappedData.Data!.FirstName + " " + mappedData.Data!.MiddleName;
            pol = mappedData.Data!.Gender ? "Муж" : "Жен";
            if (mappedData.Data != null)
            {
                date_of_birth = (DateTime)mappedData.Data.BirthDate;
            };
            var dis = "";
            var reg = "";
            foreach (var item in Elements)
            {
                if (item.Id == patient.DistrictId)
                {
                    dis = item.Title;
                }
            };
            foreach (var item in RegionList)
            {
                if (item.Id == patient.RegionId)
                {
                    reg = item.Title;
                }
            };
            age = (int)(datetimenow.Year - ((DateTime)mappedData.Data.BirthDate).Year);
            phoneNum1 = mappedData.Data.Phone;
            address = dis + " " + reg + " " + patient.Address;
            AddEditModel.PatientId = mappedData.Data.Id;
            IsDisabled = false;
        }
    }
    public async Task LoadUserCentersAsync()
    {
        var response = await Http.GetAsync("api/medcenter/relmedcenters");
        var mappedData = await response.ToResult<List<MedCenter>>();
        UserCenters = mappedData.Data;
        if(UserCenters != null)
        {
            if(UserCenters.Count() > 1)
            {
                IsOnlyCenter = false;
                AddEditModel.MedCenterId = 0;
            }
            else
            {
                AddEditModel.MedCenterId = UserCenters.Select(t=>t.Id).FirstOrDefault();
            }
        }
    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task SaveAsync()
    {
        AddEditModel.IsDeleted = false;
        AddEditModel.DirectionDate = date;
        AddEditModel.DirectionTime = time2;
        AddEditModel.ReceiptDate = date1;
        AddEditModel.ReceiptTime = time1;
        AddEditModel.VgvDate = date2;
        AddEditModel.VgsDate = date3;
        AddEditModel.VichDate = date4;

        AddEditModel.MainDiagnosisDate = DiagnosisDate1;
        AddEditModel.Complication1Date = DiagnosisDate2;
        AddEditModel.Complication2Date = DiagnosisDate3;
        AddEditModel.Complication3Date = DiagnosisDate4;
        AddEditModel.Diagnosis1Date = DiagnosisDate5;
        AddEditModel.Diagnosis2Date = DiagnosisDate6;
        AddEditModel.Diagnosis3Date = DiagnosisDate7;
        AddEditModel.OtherABDate = DiagnosisDate8;

        AddEditModel.ReceiptTime = time1;
        AddEditModel.DirectionTime = time2;
        AddEditModel.MainDiagnosisTime = time3;
        AddEditModel.Complication1Time = time4;
        AddEditModel.Complication2Time = time5;
        AddEditModel.Complication3Time = time6;
        AddEditModel.Diagnosis1Time = time7;
        AddEditModel.Diagnosis2Time = time8;
        AddEditModel.Diagnosis3Time = time9;
        AddEditModel.OtherABTime = time10;
        AddEditModel.Blood = blood;
        AddEditModel.Resus = resus;
        AddEditModel.OutTreatment = outTreatment;
        AddEditModel.Pedikulez = Basic_CheckBox1 ? "да" : "нет";
        AddEditModel.Chesotka = Basic_CheckBox2 ? "да" : "нет";
        AddEditModel.Vassermana = Basic_CheckBox3 ? "да" : "нет";
        AddEditModel.Fluorografia = Basic_CheckBox4 ? "да" : "нет";
        AddEditModel.Alchohol = Basic_CheckBox5 ? "да" : "нет";
        AddEditModel.Familiarized = Basic_CheckBox6 ? "да" : "нет";

        var response = await _httpClient.PostAsJsonAsync("api/medcard/addcard", AddEditModel);
        var result = await response.ToResult();
        if (!result.Succeeded)
        {
            _snackBar.Add(result.Messages[0], Severity.Error);
            MudDialog.Close(DialogResult.Ok(false));
        }
        else
        {
            _snackBar.Add("Успешно", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
    private async Task LoadCodeMKBAsync()
    {
        var response = await Http.GetAsync("api/status/allcodemkbs");
        var mappedData = await response.ToResult<List<CodeMKB>>();
        Codes = mappedData.Data;
    }
    private async Task LoadDistrictsAsync()
    {
        var response = await Http.GetAsync("api/region/alldistricts");
        var mappedData = await response.ToResult<List<District>>();
        Elements = mappedData.Data;
    }
    private async Task LoadDistDefaultRegionsAsync()
    {
        var response = await Http.GetAsync("api/region/alldistregions?Id=" + patient.DistrictId);
        var mappedData = await response.ToResult<List<Region>>();
        RegionList = mappedData.Data;

    }
    private async Task Selected1(CodeMKB codeMKB)
    {
        AddEditModel.MainDiagnosis = codeMKB.Name;
    }
    private async Task Selected2(CodeMKB codeMKB)
    {
        AddEditModel.Complication1 = codeMKB.Name;
    }
    private async Task Selected3(CodeMKB codeMKB)
    {
        AddEditModel.Complication2 = codeMKB.Name;
    }
    private async Task Selected4(CodeMKB codeMKB)
    {
        AddEditModel.Complication3 = codeMKB.Name;
    }
    private async Task Selected5(CodeMKB codeMKB)
    {
        AddEditModel.Diagnosis1 = codeMKB.Name;
    }
    private async Task Selected6(CodeMKB codeMKB)
    {
        AddEditModel.Diagnosis2 = codeMKB.Name;
    }
    private async Task Selected7(CodeMKB codeMKB)
    {
        AddEditModel.Diagnosis3 = codeMKB.Name;
    }
    private async Task Selected8(CodeMKB codeMKB)
    {
        AddEditModel.OtherAB = codeMKB.Name;
    }
}
