@using System.Net.Http.Json
@inject HttpClient Http



<MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped">
    <ToolBarContent>
        <AuthorizeView Roles="medcard_analysis">    
                
                    <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.AddCard"
                           @onclick="@(() => AddEditModal())"
                       Size="Size.Small"
                       Color="Color.Info">
                        Добавить новые результаты анализа
                    </MudButton>
                
        </AuthorizeView>

        <MudSpacer />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ФИО</MudTh>
        <MudTh>ИНН</MudTh>
        <MudTh>Анализ</MudTh>
        <MudTh>Резултат</MudTh>
        <MudTh>Дата Анализа</MudTh>
        <MudTh>Следующая дата Анализа</MudTh>
        <MudTh>Дата добавления</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Patient.LastName  @context.Patient.FirstName</MudTd>
        <MudTd>@context.Patient.Inn</MudTd>
        <MudTd>@context.Analysis.Title</MudTd>
        <MudTd>@context.AnalysisResult.Result  @context.Analysis.AnalysisExt</MudTd>
        <MudTd>@context.AnalysisResult.AnalysisDate?.ToString("dd.MM.yyyy")</MudTd>
        
        <MudTd Style="@(IsDatePast(((DateTime)context.AnalysisResult.AnalysisDate).AddDays((int)context.Analysis.NextDays)) ? "background-color:red;":"")">
            @{
                if (context.AnalysisResult.AnalysisDate != null && context.Analysis.NextDays > 0)
                {
                    var nextDate = ((DateTime)context.AnalysisResult.AnalysisDate).AddDays((int)context.Analysis.NextDays);
                    <span><b>@nextDate.ToString("dd.MM.yyyy")</b></span>
                }
            }

        </MudTd>

        <MudTd>@context.AnalysisResult.CreatedOn?.ToString("dd.MM.yyyy")  </MudTd>
        <MudTd>            
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {

    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private string searchString1 = "";
    private bool tableLoading = false;

    [Parameter]
    public long MedCardId { get; set; }
    private long IsCard { get; set; }
    private MedCard ownCard { get; set; }

    private IEnumerable<AnalysisResultsDto> Elements = new List<AnalysisResultsDto>();
    public Patient PatientModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (MedCardId > 0)
        {
            await LoadPatientAsync();
        }
    }
    private bool IsDatePast(DateTime dateTime)
    {
        DateTime dateTimeNow = DateTime.Now.Date;
        if (dateTime < dateTimeNow)
        {
            return true;
        }
        return false;
    }

    private async Task LoadPatientAsync()
    {
        var response = await Http.GetAsync("api/patient/getbymedcard?medcardId=" + MedCardId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }

        var mappedData = await response.ToResult<Patient>();
        PatientModel = mappedData.Data;
        if (PatientModel != null)
        {
            await LoadAnalysesAsync();
        }
    }

    private async Task LoadAnalysesAsync()
    {
        var response = await Http.GetAsync("api/medcard/analysesbyinn?inn=" + PatientModel.Inn);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<List<AnalysisResultsDto>>();
        Elements = mappedData.Data;
    }

    private async Task AddEditModal()
    {
        var parameters = new DialogParameters();
        parameters.Add("MedCardId", MedCardId);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true, DisableBackdropClick = true, Position = DialogPosition.TopCenter };
        var dialog = _dialogService.Show<Dialysis.Client.Pages.PageComponents.AnalysisComponents.AnalysisAddEdit>(" Добавить новые результаты анализа", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            await LoadAnalysesAsync();
        }
    }

    /*public async Task LoadMCardAsync()
    {
        var response = await Http.GetAsync("api/medcard/isowncard?medcardId=" + MedCardId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<MedCard>();
        ownCard = mappedData.Data;
        if (ownCard != null)
        {
            IsCard = 99;
        }
        else
        {
            _navigationManager.NavigateTo("/medcardlist");
        }
    }*/
}
