@using System.Net.Http.Json
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 500px; overflow-y: scroll">
    <EditForm Model="@AddEditModel" OnValidSubmit="SaveAsync">
        <MudDialog>
            <TitleContent>
                @{
                    if (AddEditModel.Id == 0)
                    {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                            Добавить
                        </MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                            Редактировать
                        </MudText>
                    }
                }
            </TitleContent>
            <DialogContent>
                <MudGrid>
                    <MudItem xs="12" md="12" Style="text-align:center; font-weight:bold;">
                        Этапный эпикриз
                    </MudItem>
                    <MudItem xs="12" md="12">
                        За :  <MudDatePicker For="@(() => AddEditModel.Started)" Label="" @bind-Date="AddEditModel.Started" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        ФИО :  @patient?.LastName @patient?.FirstName  @patient?.MiddleName
                    </MudItem>
                    <MudItem xs="12" md="12">
                        Дата рождения : @patient?.BirthDate?.ToString("dd.MM.yyyy")
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Osn)" @bind-Value="AddEditModel.Osn" Label="Основной диагноз" Lines="1" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Sop)" @bind-Value="AddEditModel.Sop" Label="Сопутствующий" Lines="2" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Osl)" @bind-Value="AddEditModel.Osl" Label="Осложнения" Lines="3" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.TotalHD)" @bind-Value="AddEditModel.TotalHD" Label="Количество полученных сеансов ГД, ГДФ" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Status)" @bind-Value="AddEditModel.Status" Label="Состояние к концу месяца (объективный статус) " Lines="3" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        Показатели достижения качества проводимой процедуры
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <table style="width:100%; font-size:13px;">
                            <thead>
                            <tr style="height:5px; font-weight:600;">
                                <th style="width:70%;">показатели</th>
                                <th>Показатели за текущий месяц</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="label-td">НВ    95-110г/л	</td>
                                <td><MudTextField For="@(() => AddEditModel.Ng)" @bind-Value="AddEditModel.Ng" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">АД  140/90 между сеансами	</td>
                                <td><MudTextField For="@(() => AddEditModel.Ad)" @bind-Value="AddEditModel.Ad" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Фосфор 1,13-1,45ммоль/л		</td>
                                <td><MudTextField For="@(() => AddEditModel.Fosfor)" @bind-Value="AddEditModel.Fosfor" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Кальций общий 2,1-2,5ммоль/л	</td>
                                <td><MudTextField For="@(() => AddEditModel.Ht)" @bind-Value="AddEditModel.Ht" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">spKt/V ≥1.4		</td>
                                <td><MudTextField For="@(() => AddEditModel.SaharKrovi)" @bind-Value="AddEditModel.SaharKrovi" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">ПТГ 130-600 пг/мл		</td>
                                <td><MudTextField For="@(() => AddEditModel.Eritropoetin)" @bind-Value="AddEditModel.Eritropoetin" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">ЩФ         М – 53-128  Ед/л; Ж – 42-98 Ед/л			</td>
                                <td><MudTextField For="@(() => AddEditModel.Erty)" @bind-Value="AddEditModel.Erty" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Недельное диализное время ≥720мин		</td>
                                <td><MudTextField For="@(() => AddEditModel.TotalHDF)" @bind-Value="AddEditModel.TotalHDF" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Ферритин 100-800 мг/л		</td>
                                <td><MudTextField For="@(() => AddEditModel.Fe)" @bind-Value="AddEditModel.Fe" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Целевой уровень альбумина в крови упациентов без СД ≥40 г/л;		</td>
                                <td><MudTextField For="@(() => AddEditModel.KreatininDo)" @bind-Value="AddEditModel.KreatininDo" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Целевой уровень альбумина крови упациентов с СД ≥35 г/л;		</td>
                                <td><MudTextField For="@(() => AddEditModel.KreatininAfter)" @bind-Value="AddEditModel.KreatininAfter" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Средний уровень АД перед сеансом ГД 160/90 мм.рт.ст;		</td>
                                <td><MudTextField For="@(() => AddEditModel.Alt)" @bind-Value="AddEditModel.Alt" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Гематокрит 33-36%		</td>
                                <td><MudTextField For="@(() => AddEditModel.Leykty)" @bind-Value="AddEditModel.Leykty" Label="" /></td>
                            </tr>
                            <tr>
                                <td class="label-td">Степень гидратации пациента перед сеансом ГД в объеме 15% от целевого
                                    объема внеклеточной воды организма или ≤5% от «сухого веса».	</td>
                                <td><MudTextField For="@(() => AddEditModel.StartWeight)" @bind-Value="AddEditModel.StartWeight" Label="" /></td>
                            </tr>
                            </tbody>
                        </table>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.GolovnoiBol)" @bind-Value="AddEditModel.GolovnoiBol" Label="Данные инструментальных обследований за этот период" Lines="3" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.MedHelpType)" @bind-Value="AddEditModel.MedHelpType" Label="Консультация других специалистов" Lines="3" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        Проводимое медикаментозное лечение
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.MochevinaDo)" @bind-Value="AddEditModel.MochevinaDo" Label="по анемии:"  />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.MochevinaAfter)" @bind-Value="AddEditModel.MochevinaAfter" Label="по ВГПТ:"  />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.AzotDo)" @bind-Value="AddEditModel.AzotDo" Label="по ГБ:"  />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.AzotAfter)" @bind-Value="AddEditModel.AzotAfter" Label="по КБС:"  />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Pya)" @bind-Value="AddEditModel.Pya" Label="по СД:"  />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Gipotenzia)" @bind-Value="AddEditModel.Gipotenzia" Label="Дополнительно назначенное лечение и рекомендации " Lines="3" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Gipertenzia)" @bind-Value="AddEditModel.Gipertenzia" Label="Осложнения во время диализа (гипотензия, гипертензия, кровотечения, аллергия, гипертермия и др.) (количество эпизодов за месяц, меры по предупреждению) " Lines="4" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField For="@(() => AddEditModel.Sudorogi)" @bind-Value="AddEditModel.Sudorogi" Label="Госпитализация в другие организации здравоохранения  (профиль, причины, результаты) " Lines="4" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField  For="@(() => AddEditModel.FIODoctor)"  @bind-Value="AddEditModel.FIODoctor" Label="ФИО лечащево врача" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField  For="@(() => AddEditModel.FIODepartmentHead)" @bind-Value="AddEditModel.FIODepartmentHead" Label="ФИО дежурной медсестры" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                    </MudItem>

                </MudGrid>
            </DialogContent>
            <DialogActions>
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Отмена</MudButton>
                <MudButton Variant="Variant.Filled" @onclick="@(async() => await SaveAsync())" Color="Color.Success">Сохранить</MudButton>
            </DialogActions>
        </MudDialog>
    </EditForm>
</MudContainer>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public long MedCardId { get; set; }
    [Parameter] public long id { get; set; }
    [Parameter] public Epicrisis? AddEditModel { get; set; }
    [Parameter] public Patient patient { get; set; }
    /*DateTime? date1 = null;
    DateTime? date2 = null;*/
    

    protected override async Task OnInitializedAsync()
    {
        if (AddEditModel == null)
        {
            AddEditModel = new Epicrisis();
        }
        /*if (MedCardId > 0)
        {
            await LoadPatientAsync();
        }*/
    }

    /*private async Task LoadPatientAsync()
    {
        var response = await Http.GetAsync("api/patient/getbymedcard?medcardId=" + MedCardId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }

        var mappedData = await response.ToResult<Patient>();
        patient = mappedData.Data;
        AddEditModel.PatientId = patient.Id;
    }*/

    public void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task SaveAsync()
    {
        AddEditModel.MedCardId = MedCardId;
        AddEditModel.PatientId = patient.Id;
        /*AddEditModel.DateVgv = date1;
        AddEditModel.DateVgs = date2;*/

        var response = await _httpClient.PostAsJsonAsync("api/medcard/addepicrisis", AddEditModel);
        var result = await response.ToResult();
        if (!result.Succeeded)
        {
            _snackBar.Add(result.Messages[0], Severity.Error);
            MudDialog.Close(DialogResult.Ok(false));
        }
        else
        {
            _snackBar.Add("Успешно", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
}
