@inherits LayoutComponentBase


<MudThemeProvider Theme="BlueTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView>
    <NotAuthorized>
        <MudLayout>
            @*<MudAppBar Elevation="0" Color="Color.Info">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudText Typo="Typo.h6">АИС Гемодиализ</MudText>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Inherit" Link="/login" />
            </MudAppBar>*@
            @*<MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">              
            </MudDrawer>*@
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Class="my-8">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </NotAuthorized>
    <Authorized>
        <CascadingValue Value="this">
        <MudLayout>
            <MudAppBar Elevation="0" Color="Color.Info">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudText Typo="Typo.h6">АИС Гемодиализ</MudText>
                <MudSpacer />
                <MudText Typo="Typo.h6">@fioTitle </MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Link="#" />
                <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit"  OnClick="Logout" />
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">               
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Class="my-8">
                    <div class="globalLoader" id="globalLoader"></div>
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
        </CascadingValue>
    </Authorized>
</AuthorizeView>


@code {
    bool _drawerOpen = true;

    private string fioTitle;
    public string FioTitle
    {
        get => fioTitle;
        set
        {
            fioTitle = value;
            InvokeAsync(() => StateHasChanged());
        }
    }


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme BlueTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Red.Default,
        },
        PaletteDark = new Palette()
        {
            Primary = Colors.Blue.Lighten1
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };

    private void Logout()
    {
        var parameters = new DialogParameters
        {
                {nameof(Dialogs.Logout.ContentText), $"Вы выходите из системы"},
                {nameof(Dialogs.Logout.ButtonText), $"Logout"},
                {nameof(Dialogs.Logout.Color), Color.Error},
                {nameof(Dialogs.Logout.CurrentUserId), "1"},                
            };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, Position=DialogPosition.TopCenter };

        _dialogService.Show<Dialogs.Logout>("Logout", parameters, options);
    }
}

