<MudNavMenu Class="navbar">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Home">Главная</MudNavLink>
    <AuthorizeView Roles="admin, patient, patient_access">
        <MudNavLink Href="/patient" Icon="@Icons.Material.Outlined.SupervisorAccount">
            Пациенты
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcenter_patient">
        <MudNavLink Href="/MedCenterPatients" Icon="@Icons.Material.Outlined.SupervisorAccount">
            Пациенты мед. центра
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, patient_protocol">
        <MudNavLink Href="/protocol" Icon="@Icons.Material.Outlined.Assignment">
            Протокол комиссии
        </MudNavLink>
    </AuthorizeView>
    
    <AuthorizeView Roles="admin, medcenter, indicator_access">
        <MudNavLink Href="/mcenters" Icon="@Icons.Material.Outlined.MapsHomeWork">
            Мед. центры и гос. ОЗ
        </MudNavLink>
    </AuthorizeView>
    
    <AuthorizeView Roles="admin, identify, identify_list">
        <MudNavLink Href="/identlist" Icon="@Icons.Material.Outlined.MedicalInformation">
            Идентификация
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcard, medcard_add, medcard_access">
        <MudNavLink Href="/medcardlist" Icon="@Icons.Material.Filled.AddCard">
            Мед. карты
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcard, medcard_add, medcard_access">
        <MudNavLink Href="/outlist" Icon="@Icons.Material.Filled.AddCard">
            Выписка из мед.карты
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, hdsession, hdsession_add">
        <MudNavLink Href="/allmachines" Icon="@Icons.Material.Outlined.MapsHomeWork">
            Гемодиализные аппараты
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcenter, reports">
        <MudNavLink Href="/analysesall" Icon="@Icons.Material.Outlined.MedicalInformation">
            Перечень лаб. обследований
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcard_access">
        <MudNavLink Href="/analyseslist" Icon="@Icons.Material.Outlined.PlaylistAddCircle">
            Анализы
        </MudNavLink>
    </AuthorizeView>

    <AuthorizeView Roles="admin, hdsession, hdsession_add">

        <MudNavLink Href="/processing" Icon="@Icons.Material.Outlined.AddBox">
            Активные протоколы
        </MudNavLink>
        <MudNavLink Href="/finishedlist" Icon="@Icons.Material.Outlined.History">
            Завершенные протоколы
        </MudNavLink>
        <MudNavLink Href="/allprocess" Icon="@Icons.Material.Outlined.History">
            Все протоколы
        </MudNavLink>
        <MudNavLink Href="/accreg" Icon="@Icons.Material.Outlined.History">
            Счет реестр
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, medcard, medcard_add, medcard_access">
        <MudNavLink Href="/complaints" Icon="@Icons.Material.Filled.AddCard">
            Мои жалобы
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin">
        <MudNavLink Href="/tunduk" Icon="@Icons.Material.Outlined.ReceiptLong">
            Все протоколы пациента
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, employees">
        <MudNavLink Href="/employeesList" Icon="@Icons.Material.Outlined.SupervisedUserCircle">
            Сотрудники
        </MudNavLink>
    </AuthorizeView>
    <AuthorizeView Roles="admin, indicator_access, medcard, medcard_add, medcard_access">
        @{
            if (IsOnlyCenter)
            {
                <MudNavLink Href="@($"/indlist/{element.Id}/{element.Title}")" Icon="@Icons.Material.Outlined.MapsHomeWork">
                    Индикаторы испол. договоров
                </MudNavLink>
            }
            else
            {
                <MudNavLink Href="/mcenters" Icon="@Icons.Material.Outlined.MapsHomeWork" >
                    Индикаторы испол. договоров
                </MudNavLink>
            }
        }
        
    </AuthorizeView>

    <AuthorizeView Roles="admin, reports">
        <MudNavGroup Title="Гемодиализ" Expanded="false" d>
            <MudNavLink Href="/gridpatients" Icon="@Icons.Material.Outlined.Assessment">
               Реестр льготного гемодиализа
            </MudNavLink>
            <MudNavLink Href="/gridpatients2" Icon="@Icons.Material.Outlined.Assessment">
                Список пациентов 
            </MudNavLink>
            <MudNavLink Href="/reestr" Icon="@Icons.Material.Outlined.Assessment">
               Изменение льготного реестра
            </MudNavLink>
            <MudNavLink Href="/totalbylpu" Icon="@Icons.Material.Outlined.Assessment">
               Кол-во пациентов по ЛПУ
            </MudNavLink>
            <MudNavLink Href="/gridpatients5" Icon="@Icons.Material.Outlined.Assessment">
               Пациенты и их сеансы
            </MudNavLink>
            <MudNavLink Href="/gridpatients4" Icon="@Icons.Material.Outlined.Assessment">
               Список отсутствовавших пациентов
            </MudNavLink>
            <MudNavLink Href="/gridpatients5" Icon="@Icons.Material.Outlined.Assessment">
                Список пациентов по ЛПУ
            </MudNavLink>
            <!--<MudNavLink Href="/downpage" Icon="@Icons.Material.Outlined.Assessment">
                Экспертиза качества
            </MudNavLink>-->
            <MudNavLink Href="/qualityexam" Icon="@Icons.Material.Outlined.Assessment">
                Экспертиза качества
            </MudNavLink>
        </MudNavGroup>
    </AuthorizeView>
    
    <AuthorizeView Roles="admin, reports">
        <MudNavGroup Title="Отчеты" Expanded="false">
            <MudNavLink Href="/gridmachines" Icon="@Icons.Material.Outlined.Assessment">
                Перечень аппаратов "искусственной почки"
            </MudNavLink> 
            <MudNavLink Href="/gridmedcards" Icon="@Icons.Material.Outlined.Assessment">
                Сводная таблица по данным мед. карты
            </MudNavLink>
            <MudNavLink Href="/gridepicrisis" Icon="@Icons.Material.Outlined.Assessment">
                Отчетные формы(Этапный эпикриз)
            </MudNavLink>
            <MudNavLink Href="/gridsessions" Icon="@Icons.Material.Outlined.Assessment">
                Сводный реестр(сеансы)
            </MudNavLink>            
            <MudNavLink Href="/gridanalyses" Icon="@Icons.Material.Outlined.Assessment">
                Сводный реестр(анализы)
            </MudNavLink>           
            <MudNavLink Href="/reportlist" Icon="@Icons.Material.Outlined.Assessment">
                Список отчетов
            </MudNavLink>
            <MudNavLink Href="/reportdesigner" Icon="@Icons.Material.Outlined.Construction">
               Репорт дизайнер
            </MudNavLink>
        </MudNavGroup>
    </AuthorizeView>
    



    <AuthorizeView Roles="admin">
        <MudNavGroup Title="Упр. пользователями" Expanded="false">
            <MudNavLink Href="/userlist" Icon="@Icons.Material.Outlined.PersonPin">
                Пользователи
            </MudNavLink>
            <MudNavLink Href="/profile" Icon="@Icons.Material.Outlined.CoPresent">
                Профили
            </MudNavLink>
        </MudNavGroup>
    </AuthorizeView>
    <AuthorizeView Roles="admin">
        <MudNavGroup Title="Логи" Expanded="false">
            <MudNavLink Href="/admin/httplogs" Icon="@Icons.Material.Outlined.Http">
                HTTP логи
            </MudNavLink>
            <MudNavLink Href="/admin/actionlogs" Icon="@Icons.Material.Outlined.History">
                Действия пользователей
            </MudNavLink>
            <MudNavLink Href="/admin/logsettings" Icon="@Icons.Material.Outlined.Settings">
                Настройки логирования
            </MudNavLink>
        </MudNavGroup>
    </AuthorizeView>
    <AuthorizeView Roles="admin, price">
        <MudNavGroup Title="Справочники" Expanded="false">

                <MudNavLink Href="/analysislist" Icon="@Icons.Material.Outlined.FileCopy">
                    Анализы
                </MudNavLink>
                 <MudNavLink Href="/patientgroup" Icon="@Icons.Material.Outlined.FileCopy">
                    Этап пациентов
                </MudNavLink>
                <MudNavLink Href="/reasons" Icon="@Icons.Material.Outlined.FileCopy">
                Основание(Причина)
                </MudNavLink>
                 <MudNavLink Href="/lpus" Icon="@Icons.Material.Outlined.FileCopy">
                ЛПУ
                </MudNavLink>
                <MudNavLink Href="/ptitle" Icon="@Icons.Material.Outlined.FileCopy">
                    Должности сотрудников (протокол)
                </MudNavLink>
                <MudNavLink Href="/indref" Icon="@Icons.Material.Outlined.FileCopy">
                    Названия индикаторов
                </MudNavLink>
                <MudNavLink Href="/activeprice" Icon="@Icons.Material.Outlined.AttachMoney">
                  Цена
                </MudNavLink>                   
                <MudNavLink Href="/districts" Icon="@Icons.Material.Outlined.FileCopy">
                    Регион
                </MudNavLink> 
                <MudNavLink Href="/statuses" Icon="@Icons.Material.Outlined.FileCopy">
                    Статус
                </MudNavLink>
                <MudNavLink Href="/codemkblist" Icon="@Icons.Material.Outlined.FileCopy">
                    Код МКБ
                </MudNavLink>
                <MudNavLink Href="/dialyzertypelist" Icon="@Icons.Material.Outlined.FileCopy">
                    Тип диализатора
                </MudNavLink>
                <MudNavLink Href="/MedicineTypeList" Icon="@Icons.Material.Outlined.FileCopy">
                    Тип лекарство
                </MudNavLink>
    </MudNavGroup>
    </AuthorizeView>
    @*<MudNavGroup Title="" Expanded="true">
      &nbsp;
    </MudNavGroup>*@
</MudNavMenu>
<p>2.5.6</p>

@code {
    private bool collapseNavMenu = true;
    private bool IsOnlyCenter = true;
    private IEnumerable<MedCenter> UserCenters = new List<MedCenter>();
    private MedCenter element = new MedCenter();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected override async Task OnInitializedAsync()
    {
        await LoadUserCentersAsync();
        StateHasChanged();
    }
    public async Task LoadUserCentersAsync()
    {
        UserCenters = await _commonService.LoadRelMedcentersAsync();
        if (UserCenters != null)
        {
            if (UserCenters.Count() > 1)
            {
                Console.WriteLine("no only");
                IsOnlyCenter = false;
                element = UserCenters.FirstOrDefault();
            }
            else
            {
                Console.WriteLine("isonly");
                element = UserCenters.FirstOrDefault();
            }
        }
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

